$lightBlue: #e5e9ec;
$lightGreen: #838c48;
$coral: rgb(253, 161, 128);
$bg-color: #f5e9d4;
$body-color: #fdf6ea;
$lightCoral: #f8e6c6;

$lightGray: #f3f3f3;
$mainColor: #ffb606;
$textColor1: #ffb606;
$bg-orange: #da853d;
$colorOrange: #da853d;
$light: #ffffff;
$dark: #000000;
$textColor2: #0d1128;
$darkBlue: #0d1128;
$darkBlue2: #121736;
$darkBlue3: #010b4d;
$bgFooter: black;
$footerText:#da853d;
$bgHeader: #ffb606;
