$bg-color: #f5e9d4;
$lightCoral: #f8e6c6;
$lightBlue:rgb(214, 214, 224);
$lightGray: #f3f3f3;
$mainColor: #ffb606;
$textColor1: #ffb606;
$bg-orange: #da853d;
$colorOrange: #da853d;
$light: #ffffff;
$dark: #000000;
$textColor2: #0d1128;
$darkBlue: #0d1128;
$darkBlue2: #121736;
$darkBlue3: #010b4d;
$bgFooter: black;
$footerText:rgb(221, 137, 10);
$bgHeader: #ffb606;
