$darkGray: rgb(73, 73, 73);
$mainColor: #838c48;
$darkBlue: rgb(64, 51, 119);
$lightBlue: #e5e9ec;
$light: #ffffff;
$dark: #000000;
$textColor1: #da853d;
$textColor2: rgb(255, 187, 0);
$bg-orange: #da853d;
$lightGreen: #838c48;
$coral: rgb(253, 161, 128);
$bg-color: #f5e9d4;
$body-color: #fdf6ea;
$lightCoral: #f8e6c6;
$bgFooter: #838c48;
$bgHeader: rgba(253, 246, 234, 0.8);
