* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.herroBanner {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .herroBanner {
    padding: 0 5%;
  }
}

header {
  position: fixed;
  z-index: 7;
}
header .headerTop {
  position: fixed;
  width: 100%;
  z-index: 10;
}
header .headerTop .herroBanner {
  display: flex;
  flex-direction: column;
  row-gap: 20vh;
}
header .headerTop .herroBanner nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
}
header .headerTop .herroBanner nav h4 {
  color: #ffffff;
  font-size: 26px;
  position: relative;
  bottom: 10px;
  font-weight: 400;
  font-family: "Sacramento", cursive;
}
header .headerTop .herroBanner nav h4 span {
  position: absolute;
  left: 15px;
  color: #da853d;
}
header .headerTop .herroBanner nav .headItem1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 0px;
}
header .headerTop .herroBanner nav .headItem1 li a {
  font-weight: 0;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  border-bottom: 2px solid transparent;
}
header .headerTop .herroBanner nav .headItem1 li a:hover {
  border-color: #da853d;
  color: #da853d;
}
@media only screen and (max-width: 992px) {
  header .headerTop .herroBanner nav .headItem1 {
    display: none;
  }
}
header .headerTop .herroBanner nav .fa-bars {
  color: #ffffff;
  font-size: 20px;
  display: none;
}
@media only screen and (max-width: 992px) {
  header .headerTop .herroBanner nav .fa-bars {
    display: block;
  }
}
header .headerTop .herroBanner nav .darkmode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
}
header .headerTop .herroBanner nav .darkmode .fa-sun {
  color: rgb(248, 170, 24);
}
header .headerTop .herroBanner nav .darkmode .fa-moon {
  color: rgb(58, 58, 138);
}
@media only screen and (max-width: 992px) {
  header .headerTop .herroBanner nav .darkmode {
    display: none;
  }
}
header .headerBottum {
  display: none;
}
@media only screen and (max-width: 992px) {
  header .show {
    position: fixed;
    width: 50%;
    z-index: 11;
    background-color: #ffffff;
    display: block;
  }
  header .show .herroBanner nav {
    line-height: 6vh;
    height: 100vh;
    padding: 30px 0;
  }
  header .show .herroBanner nav h4 {
    color: #000000;
    font-size: 26px;
    position: relative;
    bottom: 10px;
    font-weight: 400;
    font-family: "Sacramento", cursive;
  }
  header .show .herroBanner nav h4 span {
    position: absolute;
    left: 15px;
    color: #da853d;
  }
  header .show .herroBanner nav ul li a {
    text-transform: uppercase;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    border-bottom: 2px solid transparent;
    font-weight: 600;
  }
  header .show .herroBanner nav ul li a:hover {
    border-color: #da853d;
    color: #da853d;
  }
  header .show .herroBanner nav ul .darkmode {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: start;
    gap: 20px;
    font-size: 20px;
  }
  header .show .herroBanner nav ul .darkmode .fa-sun {
    color: rgb(248, 170, 24);
  }
  header .show .herroBanner nav ul .darkmode .fa-moon {
    color: rgb(58, 58, 138);
  }
}

#home {
  background-image: url("../image/fullscreen-slider.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#home .homeItem {
  background-color: rgba(3, 3, 34, 0.438);
  padding: 300px 0;
}
#home .homeItem .herroBanner .item .itemNote {
  text-align: center;
  color: #ffffff;
}
#home .homeItem .herroBanner .item .itemNote h1 {
  font-size: 60px;
}

#about {
  background-color: #0d1128;
}
#about .herroBanner .aboutNote {
  padding: 60px 0;
  font-family: "Sora", sans-serif;
}
#about .herroBanner .aboutNote h2 {
  font-weight: bold;
  color: #da853d;
  margin-bottom: 3vh;
}
#about .herroBanner .aboutNote p {
  color: #da853d;
  font-weight: 500;
  font-size: 15px;
  line-height: 5vh;
}
#about .herroBanner .aboutNote a {
  font-family: "Montserrat", sans-serif;
  background: #da853d;
  color: #ffffff;
  padding: 10px 30px;
  border: none;
  position: relative;
  cursor: pointer;
  transition: 400ms linear all;
  outline: none;
}
#about .herroBanner .aboutNote a:hover {
  background: transparent;
  color: #da853d;
}
#about .herroBanner .aboutNote a:before, #about .herroBanner .aboutNote a:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #da853d;
  transition: 400ms linear all;
}
#about .herroBanner .aboutNote a:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
#about .herroBanner .aboutNote a:hover:before, #about .herroBanner .aboutNote a:hover:after {
  width: 100%;
  transition: 400ms linear all;
}

#language {
  background-color: #121736;
}
#language .herroBanner .languageNote {
  padding-top: 60px;
  text-align: center;
  color: #ffffff;
}
#language .herroBanner .languageNote h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
#language .herroBanner .languageNote h3 {
  font-family: "Sacramento", cursive;
  font-weight: 500;
  font-size: 30px;
}
#language .row {
  padding: 20px 0 50px 0;
  display: flex;
  justify-content: center;
}
#language .row .col .item {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#language .row .col .item .itemImg {
  overflow: hidden;
}
#language .row .col .item .itemImg .itemNote {
  padding-top: 70px;
}
#language .row .col .item .itemImg:hover .itemNote {
  z-index: 2;
  height: 50vh;
}
#language .row .col .item .itemImg:hover img {
  scale: 1.1;
}
#language .row .col .item .itemImg img {
  width: 100%;
  height: 50vh;
  transition: all 0.5s linear;
}
#language .row .col .item .itemImg .itemNote {
  font-family: "Sora", sans-serif;
  position: absolute;
  z-index: -1;
  bottom: 0;
  height: 0;
  background-color: rgba(8, 12, 65, 0.5);
  text-align: center;
  color: #ffffff;
  transition: all 0.4s linear;
}
#language .row .col .item .itemImg .itemNote a {
  color: #0d1128;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ffffff;
  transition: all 0.5s linear;
  font-family: "Montserrat", sans-serif;
}
#language .row .col .item .itemImg .itemNote a:hover {
  color: #ffffff;
  background-color: #da853d;
}

#whywe {
  background-color: #ffffff;
  padding: 60px 0;
}
#whywe .herroBanner .note {
  text-align: center;
  color: #da853d;
  margin-bottom: 40px;
}
#whywe .herroBanner .note p {
  font-size: 25px;
}
#whywe .herroBanner .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 10px;
}
#whywe .herroBanner .row .col {
  background-color: #010b4d;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  height: 30vh;
}
#whywe .herroBanner .row .col .itemNote {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
}
#whywe .herroBanner .row .col .itemNote i {
  padding: 5%;
  border-radius: 50%;
  border: 2px solid #e5e9ec;
  width: 70px;
  height: 65px;
  color: rgb(247, 94, 6);
  background-color: #ffffff;
  font-size: 25px;
}
#whywe .herroBanner .row .col p {
  color: #da853d;
}

#galery {
  padding-top: 40px;
  background-color: #0d1128;
}
#galery h1 {
  text-align: center;
  color: #da853d;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
#galery p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
  font-family: "Sacramento", cursive;
  font-size: 30px;
}
#galery .swiper {
  width: 100%;
  height: 100%;
}
#galery .swiper .swiper-slide {
  display: flex;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 500px;
}
#galery .swiper .swiper-slide img {
  display: block;
  width: 50%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 767px) {
  #galery .swiper .swiper-slide {
    flex-direction: column;
  }
  #galery .swiper .swiper-slide img {
    width: 100%;
  }
}
#galery .swiper .pagination-button {
  color: #da853d;
}

#galleryPage .galleryItem {
  background-image: url("../image/book1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#galleryPage .galleryItem .item1 {
  padding: 200px 50px;
}
#galleryPage .galleryItem .item1 .herroBanner .item1Note {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
}
#galleryPage .galleryItem .item1 .herroBanner .item1Note h1 {
  font-weight: bold;
  text-shadow: 3px 3px 3px #da853d;
}
#galleryPage .galleryItem .item1 .herroBanner .item1Note div a {
  color: #ffffff;
}
#galleryPage .galleryItem2 {
  background-color: #0d1128;
}
#galleryPage .galleryItem2 .swiper {
  width: 100%;
  padding: 50px 0;
}
#galleryPage .galleryItem2 .swiper .swiper-slide {
  border-radius: 20px;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  width: 350px;
}
#galleryPage .galleryItem2 .swiper .swiper-slide .slideImg {
  overflow: hidden;
  border-radius: 10px;
}
#galleryPage .galleryItem2 .swiper .swiper-slide .slideImg img {
  display: block;
  width: 100%;
  height: 350px;
  transition: all 0.5s linear;
}
#galleryPage .galleryItem2 .swiper .swiper-slide:hover .slideImg img {
  scale: 1.2;
  transform: rotate(10deg);
}
#galleryPage .galleryItem3 {
  padding: 30px 0;
}
#galleryPage .galleryItem3 .herroBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#galleryPage .galleryItem3 .herroBanner .item3Img {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 440px;
  border-radius: 20px;
}
#galleryPage .galleryItem3 .herroBanner .item3Img .item {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all 0.6s linear;
}
#galleryPage .galleryItem3 .herroBanner .item3Img:hover .item {
  background-color: rgba(1, 11, 77, 0.3960784314);
  transform: rotateY(180deg);
}
@media only screen and (max-width: 996px) {
  #galleryPage .galleryItem3 .herroBanner .item3Img {
    width: 330px;
  }
}
@media only screen and (max-width: 767px) {
  #galleryPage .galleryItem3 .herroBanner .item3Img {
    width: 550px;
  }
}
#galleryPage .galleryItem3 .herroBanner .img1 {
  background-image: url("../image/galery1.jpg");
}
#galleryPage .galleryItem3 .herroBanner .img2 {
  background-image: url("../image/galery6.jpg");
}
#galleryPage .galleryItem3 .herroBanner .img3 {
  background-image: url("../image/galery2.jpg");
}
#galleryPage .galleryItem3 .herroBanner .img4 {
  background-image: url("../image/course-20-400x300.jpg");
}
#galleryPage .galleryItem3 .herroBanner .img5 {
  background-image: url("../image/galery4.jpg");
}
#galleryPage .galleryItem3 .herroBanner .img6 {
  background-image: url("../image/book1.jpg");
}
#galleryPage .galleryItem3 .herroBanner .img7 {
  background-image: url("../image/fullscreen-slider.jpg");
}
#galleryPage .galleryItem3 .herroBanner .img8 {
  background-image: url("../image/courses-14.jpg");
}
#galleryPage .galleryItem4 .swiper {
  width: 100%;
  height: 100%;
}
#galleryPage .galleryItem4 .swiper .swiper-slide {
  display: flex;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 500px;
}
#galleryPage .galleryItem4 .swiper .swiper-slide img {
  display: block;
  width: 50%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 767px) {
  #galleryPage .galleryItem4 .swiper .swiper-slide {
    flex-direction: column;
  }
  #galleryPage .galleryItem4 .swiper .swiper-slide img {
    width: 100%;
  }
}
#galleryPage .galleryItem4 .swiper .pagination-button {
  color: #da853d;
}

#teacher {
  background-color: #0d1128;
  padding: 50px 0;
}
#teacher .herroBanner .teacherNote {
  text-align: center;
  color: #da853d;
  font-family: "Montserrat", sans-serif;
}
#teacher .herroBanner .teacherNote h1 {
  color: #ffffff;
  font-weight: bold;
}
#teacher .herroBanner .teacherNote p {
  font-size: 20px;
}
#teacher .herroBanner .row {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
#teacher .herroBanner .row .col .item {
  padding: 30px 20px;
  border: 1px solid #da853d;
  text-align: center;
}
#teacher .herroBanner .row .col .item .itemImg {
  position: relative;
  transition: all 0.5s linear;
}
#teacher .herroBanner .row .col .item .itemImg img {
  border: 2px solid #da853d;
  position: relative;
  margin-top: -100px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#teacher .herroBanner .row .col .item .itemImg i {
  position: absolute;
  margin-top: -5px;
  margin-left: -27%;
  font-size: 35px;
  color: #da853d;
  z-index: -1;
}
#teacher .herroBanner .row .col .item .itemNote {
  color: #da853d;
  font-family: "Montserrat", sans-serif;
}
#teacher .herroBanner .row .col .item .itemNote h3 {
  color: #ffffff;
}
#teacher .herroBanner .row .col .item .itemNote a {
  color: #da853d;
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid #da853d;
  transition: all 0.5s linear;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
#teacher .herroBanner .row .col .item .itemNote a:hover {
  color: #02011d;
  background-color: #da853d;
}
#teacher .herroBanner .row .col:hover h3,
#teacher .herroBanner .row .col:hover p {
  color: #da853d;
}
#teacher .herroBanner .row .col:hover .itemImg i {
  z-index: 1;
}

.teamPage .teamItem {
  background-image: url("../image/galery4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.teamPage .teamItem .item1 {
  background-color: rgba(218, 134, 61, 0.1647058824);
  padding: 250px 50px;
}
.teamPage .teamItem .item1 .item1Note {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
}
.teamPage .teamItem .item1 .item1Note h1 {
  font-weight: bold;
  text-shadow: 3px 3px 2px #0d1128;
}
.teamPage .teamItem .item1 .item1Note div a {
  color: #ffffff;
}
.teamPage .teamItem2 {
  padding: 50px 0;
  background-color: #0d1128;
}
.teamPage .teamItem2 .teamItem2Note {
  text-align: center;
}
.teamPage .teamItem2 .teamItem2Note h1 {
  color: #da853d;
  margin-bottom: 20px;
}
.teamPage .teamItem2 .line {
  width: 100%;
  height: 2px;
  background-color: #da853d;
}
.teamPage .teamItem2 .row {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
.teamPage .teamItem2 .row .col .item {
  padding: 30px 20px;
  border: 1px solid #da853d;
  text-align: center;
}
.teamPage .teamItem2 .row .col .item .itemImg {
  position: relative;
  transition: all 0.5s linear;
}
.teamPage .teamItem2 .row .col .item .itemImg img {
  border: 2px solid #da853d;
  position: relative;
  margin-top: -100px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.teamPage .teamItem2 .row .col .item .itemImg i {
  position: absolute;
  margin-top: -5px;
  margin-left: -27%;
  font-size: 35px;
  color: #da853d;
  z-index: -1;
}
.teamPage .teamItem2 .row .col .item .itemNote {
  color: #da853d;
  font-family: "Montserrat", sans-serif;
}
.teamPage .teamItem2 .row .col .item .itemNote h3 {
  color: #ffffff;
}
.teamPage .teamItem2 .row .col .item .itemNote a {
  color: #da853d;
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid #da853d;
  transition: all 0.5s linear;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
.teamPage .teamItem2 .row .col .item .itemNote a:hover {
  color: #0d1128;
  background-color: #da853d;
}
.teamPage .teamItem2 .row .col:hover h3 {
  color: #da853d;
}
.teamPage .teamItem2 .row .col:hover p {
  color: #ffffff;
}
.teamPage .teamItem2 .row .col:hover .itemImg i {
  z-index: 1;
}
.teamPage .teamItem3 {
  padding: 50px 0;
}
.teamPage .teamItem3 .herroBanner h1 {
  color: #da853d;
  text-align: center;
  text-shadow: 1px 1px #da853d;
}
.teamPage .teamItem3 .herroBanner .swiper {
  width: 100%;
  padding: 50px 0;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide {
  background-color: #0d1128;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 430px;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide .slideImg {
  overflow: hidden;
  position: relative;
  transition: all 0.5s linear;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide .slideImg img {
  display: block;
  width: 100%;
  height: 230px;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide .slideImg ul {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 5px;
  background-color: rgba(218, 134, 61, 0.5019607843);
  transition: all 0.5s linear;
  opacity: 0;
  left: 0;
  bottom: -55px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  transform: translateY(0px);
  height: 15vh;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide .slideImg ul li a {
  color: #da853d;
  font-size: 30px;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide .slideImg ul li a:hover {
  color: #2c5c2f;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide .slideNote {
  padding: 7px;
  text-align: center;
  color: #da853d;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide .slideNote h4 {
  color: #ffffff;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide:hover span {
  color: #ffffff;
}
.teamPage .teamItem3 .herroBanner .swiper .swiper-slide:hover .slideImg ul {
  opacity: 1;
  transform: translateY(-30px);
  z-index: 9;
}

#achieveCount {
  background-image: url("../image/counterbox-bg-new-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#achieveCount .countItem {
  background-color: rgba(14, 12, 36, 0.637);
  padding: 100px 0;
}
#achieveCount .countItem .herroBanner .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 10px;
}
#achieveCount .countItem .herroBanner .item i {
  color: #da853d;
  font-size: 60px;
}
#achieveCount .countItem .herroBanner .item .itemNote {
  color: #ffffff;
}
@media only screen and (max-width: 556px) {
  #achieveCount .countItem {
    padding: 50px 0;
  }
  #achieveCount .countItem .item {
    justify-content: flex-start !important;
  }
}

#blog {
  background-color: #02011d;
  padding-top: 50px;
}
#blog .herroBanner h1 {
  text-align: center;
  color: #ffffff;
}
#blog .herroBanner .swiper {
  width: 100%;
  padding: 50px 0;
}
#blog .herroBanner .swiper .swiper-slide {
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 470px;
}
#blog .herroBanner .swiper .swiper-slide .slideImg {
  overflow: hidden;
}
#blog .herroBanner .swiper .swiper-slide .slideImg img {
  display: block;
  width: 100%;
  height: 250px;
  transition: all 0.5s linear;
}
#blog .herroBanner .swiper .swiper-slide .slideNote {
  padding: 7px;
  text-align: center;
  color: #da853d;
}
#blog .herroBanner .swiper .swiper-slide:hover .note1 {
  color: #da853d;
}
#blog .herroBanner .swiper .swiper-slide:hover .slideImg img {
  scale: 1.2;
  transform: rotate(10deg);
}

#blogPage .blogItem {
  background-image: url("../image/banner-courses-hub.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#blogPage .blogItem .item1 {
  background-color: rgba(233, 193, 156, 0.384);
  padding: 200px 50px;
}
#blogPage .blogItem .item1 .herroBanner .item1Note {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
}
#blogPage .blogItem .item1 .herroBanner .item1Note h1 {
  font-weight: bold;
  text-shadow: 4px 4px 3px #ffffff;
  font-size: 60px;
}
#blogPage .blogItem .item1 .herroBanner .item1Note div a {
  color: #ffffff;
}
#blogPage .blogItem1 .swiper {
  display: flex;
  width: 300px;
  height: 300px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -130px;
}
#blogPage .blogItem1 .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
}
#blogPage .blogItem1 .swiper .swiper-slide img {
  display: block;
  width: 100%;
}
#blogPage .blogItem2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
}
#blogPage .blogItem2 .item {
  width: 50%;
}
#blogPage .blogItem2 .item img {
  width: 100%;
  height: 65vh;
}
#blogPage .blogItem2 .info {
  width: 50%;
}
#blogPage .blogItem2 .info .item2Note {
  color: #da853d;
  line-height: 5vh;
  padding: 50px 20px;
}
#blogPage .blogItem2 .info .item2Note .line {
  height: 5px;
  width: 70px;
  background-color: #da853d;
  border-radius: 5px;
  margin-bottom: 30px;
}
#blogPage .blogItem2 .info .item2Note h1 {
  color: #da853d;
  text-shadow: 3px 3px 3px #da853d;
}
@media only screen and (max-width: 767px) {
  #blogPage .blogItem2 {
    flex-direction: column;
  }
  #blogPage .blogItem2 .product2 {
    flex-direction: column-reverse;
  }
  #blogPage .blogItem2 .item {
    width: 100%;
  }
  #blogPage .blogItem2 .info {
    width: 100%;
  }
  #blogPage .blogItem2 .info .item2Note {
    padding: 50px;
  }
}
@media only screen and (max-width: 767px) {
  #blogPage .product2 {
    flex-direction: column-reverse;
  }
}

#news {
  padding: 50px 0;
}
#news h1 {
  color: #da853d;
  text-shadow: 3px 3px 3px #da853d;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
#news .herroBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
#news .herroBanner .newsItem1 {
  width: 50%;
}
#news .herroBanner .newsItem1 img {
  width: 100%;
  height: 72vh;
  border-radius: 8px;
}
#news .herroBanner .newsItem2 {
  width: 50%;
}
#news .herroBanner .newsItem2 h2 {
  color: #da853d;
}
#news .herroBanner .newsItem2 .accordion {
  border: 1px solid #da853d;
}
#news .herroBanner .newsItem2 .accordion h5 {
  color: #da853d;
}
#news .herroBanner .newsItem2 .accordion p {
  color: #da853d;
  font-size: 20px;
}
@media only screen and (max-width: 767px) {
  #news .herroBanner {
    flex-direction: column;
  }
  #news .herroBanner .newsItem1 {
    width: 100%;
  }
  #news .herroBanner .newsItem2 {
    width: 100%;
  }
}

#comments {
  background-image: url("../image/bgicomments.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#comments .commentItem {
  background-color: rgba(75, 130, 182, 0.404);
  padding: 150px;
}
#comments .commentItem .herroBanner h1 {
  color: #ffffff;
  margin-bottom: 60px;
  text-align: center;
}
#comments .commentItem .herroBanner .itemComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 20px;
}
#comments .commentItem .herroBanner .itemComment .itemImg {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
#comments .commentItem .herroBanner .itemComment .itemImg img {
  border-radius: 15px;
  height: 40vh;
  width: 300px;
}
#comments .commentItem .herroBanner .itemComment .itemImg nav {
  background-color: rgba(15, 46, 15, 0.425);
  position: absolute;
  margin-top: -240px;
  z-index: -1;
  padding-top: 15px;
  width: 0px;
  height: 50vh;
  transition: all 0.5s linear;
}
#comments .commentItem .herroBanner .itemComment .itemImg nav ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
}
#comments .commentItem .herroBanner .itemComment .itemImg nav ul li a {
  color: #da853d;
  background-color: rgb(253, 161, 128);
  border: 1px solid #da853d;
  border-radius: 50%;
  padding: 6px 10px;
}
#comments .commentItem .herroBanner .itemComment .itemImg:hover nav {
  z-index: 1 !important;
  width: 70px;
}
#comments .commentItem .herroBanner .itemComment .commentNote1 {
  color: #da853d;
  text-align: left;
}

#contact {
  background-image: url("../image/cta2-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#contact .contactPage {
  padding: 60px 0;
  background-color: rgba(7, 7, 41, 0.411);
}
#contact .contactPage .herroBanner .contactNote {
  text-align: center;
  color: #da853d;
}
#contact .contactPage .herroBanner .contactNote p {
  color: #ffffff;
  font-size: 20px;
}
#contact .contactPage .herroBanner .contactNote i {
  font-size: 30px;
}
#contact .contactPage .herroBanner .contactNote a {
  padding: 10px 25px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  color: #ffffff;
  background: none;
  border: 1px solid #da853d;
  cursor: pointer;
  transform: translate3d(0, 0, 0);
}
#contact .contactPage .herroBanner .contactNote a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  height: 150%;
  background: #da853d;
  pointer-events: none;
  transform: translate3d(0, 45px, 0);
  transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#contact .contactPage .herroBanner .contactNote a i {
  font-style: normal;
  line-height: 4.5rem;
  display: inline-block;
  height: 100%;
  padding-left: 1px;
  padding-right: 1px;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
#contact .contactPage .herroBanner .contactNote a i:hover {
  transform: translate3d(0, -6px, 0);
}
#contact .contactPage .herroBanner .contactNote a:hover {
  color: #ffffff;
}
#contact .contactPage .herroBanner .contactNote a:hover:after {
  transform: translate3d(0, 0, 0);
}

#contactPage .contactItem {
  background-image: url("../image/course-5-768x512.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contactPage .contactItem .item1 {
  background-color: rgba(218, 134, 61, 0.0666666667);
  padding: 220px 50px;
}
#contactPage .contactItem .item1 .herroBanner .item1Note {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
}
#contactPage .contactItem .item1 .herroBanner .item1Note h1 {
  font-weight: bold;
  text-shadow: 3px 3px 3px #0d1128;
}
#contactPage .contactItem .item1 .herroBanner .item1Note div a {
  color: #ffffff;
}
#contactPage .item2 {
  padding: 50px 0;
  background-color: #0d1128;
}
#contactPage .item2 .herroBanner .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  --bs-gutter-x: 0rem;
}
#contactPage .item2 .herroBanner .row .col {
  padding: 15px;
}
#contactPage .item2 .herroBanner .row .col .item2Note {
  height: 25vh;
  background-color: #f8e6c6;
  text-align: center;
  padding: 20px 5px;
  color: #da853d;
  transition: all 0.3s linear;
}
#contactPage .item2 .herroBanner .row .col .item2Note h4 {
  margin-bottom: 3vh;
}
#contactPage .item2 .herroBanner .row .col .item2Note a {
  color: #da853d;
}
@media only screen and (max-width: 992px) {
  #contactPage .item2 .herroBanner .row .col .item2Note {
    height: 20vh;
  }
}
#contactPage .item2 .herroBanner .row .col .item2Note:hover {
  transform: translateY(-15px);
  background-color: #da853d;
  color: #f8e6c6;
}
#contactPage .item2 .herroBanner .row .col .item2Note:hover a {
  color: #f8e6c6;
}
@media only screen and (max-width: 556px) {
  #contactPage .item2 .herroBanner .row .col {
    padding: 10px 25px;
  }
}
#contactPage .item3 {
  padding: 50px 100px;
  background-color: rgb(205, 217, 219);
}
#contactPage .item3 .herroBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 30px;
}
#contactPage .item3 .herroBanner .note {
  color: #da853d;
  margin-bottom: 20px;
  text-align: center;
}
#contactPage .item3 .herroBanner form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#contactPage .item3 .herroBanner form .formTag {
  border: 1px dashed #da853d;
  margin-bottom: 10px;
  padding: 7px;
}
#contactPage .item3 .herroBanner form input {
  border: gray;
  width: 200px;
}
#contactPage .item3 .herroBanner form select {
  width: 400px;
}
#contactPage .item3 .herroBanner form textarea {
  width: 400px;
}
#contactPage .item3 .herroBanner form button {
  color: white;
  background-color: #da853d;
  padding: 10px 30px;
  border-radius: 20px;
  transition: all 0.5s linear;
  border: 1px solid #da853d;
  font-family: "Montserrat", sans-serif;
}
#contactPage .item3 .herroBanner form button:hover {
  color: #da853d;
  background-color: transparent;
}
@media only screen and (max-width: 992px) {
  #contactPage .item3 {
    padding: 50px 0;
  }
  #contactPage .item3 .herroBanner {
    flex-direction: column;
  }
  #contactPage .item3 .herroBanner form div {
    display: flex;
    flex-direction: column;
  }
  #contactPage .item3 .herroBanner form .formTag {
    width: 500px;
  }
}
@media only screen and (max-width: 556px) {
  #contactPage .item3 .herroBanner form .formTag {
    width: 290px;
  }
}

#admin .row .menu {
  background-color: #0d1128;
  padding-top: 30px;
  padding-bottom: 200px;
}
#admin .row .menu .adminMenu {
  text-align: center;
}
#admin .row .menu .adminMenu img {
  width: 80px;
  height: 90px;
  border-radius: 50%;
}
#admin .row .menu .adminMenu h3 {
  color: #ffffff;
}
#admin .row .menu .adminMenu .icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 20px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
#admin .row .menu .adminMenu .icon li a {
  font-size: 20px;
  color: #da853d;
}
#admin .row .menu nav {
  padding-top: 30px;
}
#admin .row .menu nav a {
  color: #ffffff;
}
#admin .row .menu nav a::after {
  content: "";
  height: 3px;
  display: block;
  width: 30px;
  background-color: transparent;
  border-radius: 10px;
}
#admin .row .menu nav a:hover {
  color: #da853d;
}
#admin .row .menu nav a:hover::after {
  background-color: #da853d;
}
#admin .row .info {
  padding-bottom: 40px;
}
#admin .row .info .mainPage {
  padding-top: 60px;
}
#admin .row .info .mainPage .infoMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
#admin .row .info .mainPage .infoMenu h4 {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 200px;
  background-color: #0d1128;
  transition: all 0.3s linear;
}
#admin .row .info .mainPage .infoMenu h4 a {
  color: #da853d;
}
#admin .row .info .mainPage .infoMenu h4:hover {
  transform: translateY(-15px);
}
#admin .row .info .mainPage .infoMenu h4:hover a {
  color: #ffffff;
}
#admin .row .info h1 {
  color: #0d1128;
  text-align: center;
  padding: 40px 0;
}
#admin .row .info table {
  width: 100%;
  border-collapse: collapse;
}
#admin .row .info table thead tr th {
  color: #da853d;
  background-color: rgb(13, 13, 85);
  text-align: center;
  border: 1px solid #da853d;
  padding: 10px;
  font-weight: 600;
}
#admin .row .info table tbody tr td {
  background-color: #0d1128;
  text-align: center;
  border: 1px solid #da853d;
  color: white;
  padding: 10px;
}
#admin .row .info table tbody tr td img {
  width: 60px;
  height: 60px;
}
#admin .row .info table tbody tr td button {
  border: none;
  background-color: transparent;
  font-size: 20px;
}
#admin .row .info table tbody tr td .delete {
  color: red;
}
#admin .row .info table tbody tr td .edit {
  color: blue;
}
#admin .row .info #users {
  display: none;
}
#admin .row .info #teachers {
  display: none;
}
#admin .row .info #comment {
  display: none;
}
#admin .row .info #english {
  display: none;
}
#admin .row .info #russian {
  display: none;
}
#admin .row .info #alman {
  display: none;
}
#admin .row .info #french {
  display: none;
}

footer {
  background-color: #0d1128;
}
footer .herroBanner .footerTop {
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #da853d;
  row-gap: 5vh;
}
footer .herroBanner .footerTop .topItem1 {
  display: flex;
  flex-direction: column;
  row-gap: 7vh;
}
footer .herroBanner .footerTop .topItem1 h4 {
  color: rgb(6, 6, 141);
  font-size: 40px;
  font-family: "Sacramento", cursive;
}
footer .herroBanner .footerTop .topItem1 h4 span {
  position: relative;
  left: 15px;
  color: #da853d;
}
footer .herroBanner .footerTop .topItem1 ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
footer .herroBanner .footerTop .topItem1 ul li a {
  display: flex;
  gap: 10px;
  font-size: 20px;
  color: #da853d;
}
footer .herroBanner .footerTop .topItem1 ul li a:hover {
  color: #ffffff;
}
footer .herroBanner .footerTop .topItem1 ul li a i {
  color: rgb(1, 1, 138);
  font-size: 22px;
}
footer .herroBanner .footerTop .topItem2 {
  margin: top;
  display: flex;
  gap: 25px;
}
footer .herroBanner .footerTop .topItem2 ul h4 {
  color: #da853d;
}
footer .herroBanner .footerTop .topItem2 ul li a {
  font-size: 20px;
  color: #da853d;
}
footer .herroBanner .footerTop .topItem2 ul li a:hover {
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  footer .herroBanner .footerTop {
    flex-direction: column;
  }
  footer .herroBanner .footerTop .topItem1 {
    text-align: center;
    row-gap: 0vh;
  }
  footer .herroBanner .footerTop .topItem2 ul {
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    text-align: center;
  }
  footer .herroBanner .footerTop .topItem2 ul li {
    text-align: center;
  }
}
footer .herroBanner .footerBottum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
footer .herroBanner .footerBottum p {
  color: #da853d;
  font-size: 20px;
}
@media only screen and (max-width: 556px) {
  footer .herroBanner .footerBottum p {
    text-align: center;
  }
}
footer .herroBanner .footerBottum button {
  text-align: end;
  border: none;
  padding: 5px 20px;
  background-color: #da853d;
  color: #0d1128;
  margin: 10px 0;
  font-size: 20px;
}
footer .herroBanner .footerBottum ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
footer .herroBanner .footerBottum ul li a {
  font-size: 25px;
  color: #da853d;
}
footer .herroBanner .footerBottum ul li a:hover {
  color: #ffffff;
}
@media only screen and (max-width: 767px) {
  footer .herroBanner .footerBottum {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */