* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.herroBanner {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .herroBanner {
    padding: 0 5%;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgb(27, 80, 36);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
}
header nav h4 {
  color: #ffffff;
  font-size: 20px;
  position: relative;
  bottom: 8px;
}
header nav h4 span {
  position: absolute;
  left: 15px;
}
header nav h4:hover span {
  color: rgb(253, 161, 128);
}
header nav .headItem1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 0px;
}
header nav .headItem1 li a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid transparent;
}
header nav .headItem1 li a:hover {
  border-color: rgb(253, 161, 128);
  color: rgb(253, 161, 128);
}
@media only screen and (max-width: 992px) {
  header nav .headItem1 {
    display: none;
  }
}
header nav .fa-bars {
  color: black;
  font-size: 20px;
  display: none;
}
@media only screen and (max-width: 992px) {
  header nav .fa-bars {
    display: block;
  }
}
header nav .darkmode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
}
header nav .darkmode .fa-sun {
  color: rgb(248, 233, 24);
}
header nav .darkmode .fa-moon {
  color: rgb(58, 58, 138);
}
@media only screen and (max-width: 992px) {
  header nav .darkmode {
    display: none;
  }
}

#home .carousel-item video {
  width: 100%;
}
#home .carousel-item .carousel-caption {
  height: 20vh;
  top: 20%;
  color: white;
  font-family: "Sora", sans-serif;
}
#home .carousel-item .carousel-caption h1 {
  font-size: 60px;
  font-weight: 700;
}
#home .carousel-item .carousel-caption h4 {
  font-size: 20px;
}
@media only screen and (max-width: 767px) {
  #home .carousel-item .carousel-caption h1 {
    font-size: 40px;
  }
  #home .carousel-item .carousel-caption h4 {
    font-size: 15px;
  }
}
#home .herroBanner .homeNote {
  padding: 50px 150px;
  text-align: center;
  color: rgb(27, 80, 36);
  font-size: 20px;
  font-family: "Sora", sans-serif;
}
@media only screen and (max-width: 992px) {
  #home .herroBanner .homeNote {
    padding: 30px 0;
  }
}

#about {
  background-color: #e5e9ec;
}
#about .herroBanner .aboutNote {
  padding: 60px 0;
  font-family: "Sora", sans-serif;
}
#about .herroBanner .aboutNote h2 {
  font-weight: bold;
  color: darkgreen;
  margin-bottom: 3vh;
}
#about .herroBanner .aboutNote p {
  color: rgb(27, 80, 36);
  font-weight: 500;
  font-size: 15px;
  line-height: 5vh;
}
#about .herroBanner .aboutNote a {
  color: white;
  background-color: rgb(27, 80, 36);
  padding: 10px 30px;
  border-radius: 20px;
  transition: all 0.5s linear;
  border: 1px solid rgb(27, 80, 36);
  font-family: "Montserrat", sans-serif;
}
#about .herroBanner .aboutNote a:hover {
  color: rgb(27, 80, 36);
  background-color: transparent;
}

#language .herroBanner .languageNote {
  padding-top: 50px;
  text-align: center;
  color: rgb(27, 80, 36);
  text-shadow: 4px 4px 4px rgb(27, 80, 36);
}
#language .herroBanner .languageNote h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
#language .herroBanner .languageNote h3 {
  font-family: "Sacramento", cursive;
  font-weight: 500;
  font-size: 30px;
  font-weight: bold;
}
#language .row {
  padding: 20px 0 50px 0;
  display: flex;
  justify-content: center;
}
#language .row .col .item {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#language .row .col .item .itemImg {
  overflow: hidden;
}
#language .row .col .item .itemImg:hover .itemNote {
  z-index: 2;
  height: 40vh;
}
#language .row .col .item .itemImg:hover img {
  scale: 1.1;
}
#language .row .col .item .itemImg img {
  width: 100%;
  height: 50vh;
  transition: all 0.5s linear;
}
#language .row .col .item .itemImg .itemNote {
  padding-top: 20px;
  font-family: "Sora", sans-serif;
  padding-bottom: 10px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  height: 0;
  background-color: rgba(14, 13, 13, 0.7);
  text-align: center;
  color: rgb(253, 161, 128);
  transition: all 0.4s linear;
}
#language .row .col .item .itemImg .itemNote a {
  color: rgb(27, 80, 36);
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(253, 161, 128);
  transition: all 0.5s linear;
  font-family: "Montserrat", sans-serif;
}
#language .row .col .item .itemImg .itemNote a:hover {
  color: rgb(253, 161, 128);
  background-color: rgb(27, 80, 36);
}

#whywe {
  background-color: rgb(27, 80, 36);
  padding: 60px 0;
}
#whywe .herroBanner .note {
  text-align: center;
  color: rgb(253, 161, 128);
  margin-bottom: 40px;
}
#whywe .herroBanner .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 10px;
}
#whywe .herroBanner .row .col {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  height: 30vh;
}
#whywe .herroBanner .row .col .itemNote {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(27, 80, 36);
}
#whywe .herroBanner .row .col .itemNote i {
  padding: 5%;
  border-radius: 50%;
  border: 4px solid #e5e9ec;
  width: 70px;
  height: 65px;
  color: rgb(27, 80, 36);
  background-color: rgb(253, 161, 128);
  font-size: 25px;
}
#whywe .herroBanner .row .col p {
  color: rgb(27, 80, 36);
}

#galery {
  padding-top: 40px;
  background-color: #e5e9ec;
}
#galery h1 {
  text-align: center;
  color: rgb(27, 80, 36);
  text-shadow: 4px 4px 4px rgb(27, 80, 36);
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
#galery p {
  text-align: center;
  color: rgb(27, 80, 36);
  margin-bottom: 20px;
  font-weight: bold;
  font-family: "Sacramento", cursive;
  font-size: 30px;
  text-shadow: 4px 4px 4px rgb(27, 80, 36);
}
#galery .swiper {
  width: 100%;
  height: 100%;
}
#galery .swiper .swiper-slide {
  display: flex;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  width: 500px;
}
#galery .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 70vh;
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (max-width: 767px) {
  #galery .swiper .swiper-slide {
    flex-direction: column;
  }
}
#galery .swiper .pagination-button {
  color: rgb(27, 80, 36);
}

#teacher {
  background-color: #e5e9ec;
  padding: 50px 0;
}
#teacher .herroBanner .teacherNote {
  text-align: center;
  color: rgb(27, 80, 36);
  font-family: "Montserrat", sans-serif;
}
#teacher .herroBanner .row {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
}
#teacher .herroBanner .row .col .item {
  padding: 30px 20px;
  border: 1px solid rgb(27, 80, 36);
  text-align: center;
}
#teacher .herroBanner .row .col .item .itemImg {
  position: relative;
  transition: all 0.5s linear;
}
#teacher .herroBanner .row .col .item .itemImg img {
  border: 2px solid rgb(253, 161, 128);
  position: relative;
  margin-top: -100px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
#teacher .herroBanner .row .col .item .itemImg i {
  position: absolute;
  margin-top: -40px;
  margin-left: -26%;
  font-size: 30px;
  color: rgb(27, 80, 36);
  z-index: -1;
}
#teacher .herroBanner .row .col .item .itemNote {
  color: rgb(27, 80, 36);
  font-family: "Montserrat", sans-serif;
}
#teacher .herroBanner .row .col .item .itemNote a {
  color: rgb(27, 80, 36);
  background-color: transparent;
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid rgb(27, 80, 36);
  transition: all 0.5s linear;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
}
#teacher .herroBanner .row .col .item .itemNote a:hover {
  color: rgb(253, 161, 128);
  background-color: rgb(27, 80, 36);
}
#teacher .herroBanner .row .col:hover h3,
#teacher .herroBanner .row .col:hover p {
  color: rgb(253, 161, 128);
}
#teacher .herroBanner .row .col:hover .itemImg i {
  z-index: 1;
}

#achieveCount {
  background-image: url("../image/bg_3 (1).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#achieveCount .countItem {
  background-color: rgba(30, 53, 95, 0.2);
  padding: 100px 0;
}
#achieveCount .countItem .herroBanner .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 10px;
  color: rgb(27, 80, 36);
}
#achieveCount .countItem .herroBanner .item i {
  font-size: 60px;
}
#achieveCount .countItem .herroBanner .item .itemNote {
  color: #ffffff;
}
@media only screen and (max-width: 556px) {
  #achieveCount .countItem {
    padding: 50px 0;
  }
  #achieveCount .countItem .item {
    justify-content: flex-start !important;
  }
}

#blog {
  background-color: #e5e9ec;
  padding-top: 50px;
}
#blog h1 {
  text-align: center;
  color: rgb(27, 80, 36);
  text-shadow: 4px 4px 4px rgb(27, 80, 36);
}
#blog .swiper {
  width: 100%;
  padding: 50px 0;
}
#blog .swiper .swiper-slide {
  border-radius: 20px;
  background-color: #ffffff;
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 470px;
}
#blog .swiper .swiper-slide .slideImg {
  overflow: hidden;
  border-radius: 10px;
}
#blog .swiper .swiper-slide .slideImg img {
  display: block;
  width: 100%;
  height: 250px;
  transition: all 0.5s linear;
}
#blog .swiper .swiper-slide .slideNote {
  padding: 7px;
  text-align: center;
  color: rgb(27, 80, 36);
}
#blog .swiper .swiper-slide:hover .note1 {
  color: rgb(253, 161, 128);
}
#blog .swiper .swiper-slide:hover .slideImg img {
  scale: 1.2;
  transform: rotate(10deg);
}

#blogPage .blogItem {
  background-image: url("../image/bg_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#blogPage .blogItem .item1 {
  background-color: rgba(17, 95, 17, 0.452);
  padding: 200px 50px;
}
#blogPage .blogItem .item1 .herroBanner .item1Note {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
}
#blogPage .blogItem .item1 .herroBanner .item1Note h1 {
  font-weight: bold;
  text-shadow: 4px 4px 3px #ffffff;
  font-size: 60px;
}
#blogPage .blogItem .item1 .herroBanner .item1Note div a {
  color: #ffffff;
}
#blogPage .blogItem2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
}
#blogPage .blogItem2 .item {
  width: 50%;
}
#blogPage .blogItem2 .item img {
  width: 100%;
  height: 65vh;
}
#blogPage .blogItem2 .info {
  width: 50%;
}
#blogPage .blogItem2 .info .item2Note {
  color: rgb(27, 80, 36);
  line-height: 5vh;
  padding: 50px 20px;
}
#blogPage .blogItem2 .info .item2Note .line {
  height: 5px;
  width: 70px;
  background-color: rgb(27, 80, 36);
  border-radius: 5px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  #blogPage .blogItem2 {
    flex-direction: column;
  }
  #blogPage .blogItem2 .product2 {
    flex-direction: column-reverse;
  }
  #blogPage .blogItem2 .item {
    width: 100%;
  }
  #blogPage .blogItem2 .info {
    width: 100%;
  }
  #blogPage .blogItem2 .info .item2Note {
    padding: 50px;
  }
}
@media only screen and (max-width: 767px) {
  #blogPage .product2 {
    flex-direction: column-reverse;
  }
}

#comments {
  background-image: url("../image/bgicomments.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
#comments .commentItem {
  background-color: rgba(30, 87, 3, 0.404);
  padding: 150px;
}
#comments .commentItem h1 {
  color: #ffffff;
  margin-bottom: 60px;
  text-align: center;
}
#comments .commentItem .itemComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 20px;
}
#comments .commentItem .itemComment .itemImg {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}
#comments .commentItem .itemComment .itemImg img {
  border-radius: 15px;
  height: 40vh;
  width: 300px;
}
#comments .commentItem .itemComment .itemImg nav {
  background-color: rgba(15, 46, 15, 0.425);
  position: absolute;
  margin-top: -240px;
  z-index: -1;
  padding-top: 15px;
  width: 0px;
  height: 50vh;
  transition: all 0.5s linear;
}
#comments .commentItem .itemComment .itemImg nav ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 15px;
}
#comments .commentItem .itemComment .itemImg nav ul li a {
  color: rgb(27, 80, 36);
  background-color: rgb(253, 161, 128);
  border: 1px solid rgb(27, 80, 36);
  border-radius: 50%;
  padding: 6px 10px;
}
#comments .commentItem .itemComment .itemImg:hover nav {
  z-index: 1 !important;
  width: 70px;
}
#comments .commentItem .itemComment .commentNote1 {
  color: rgb(27, 80, 36);
  text-align: left;
}

#contact {
  background-image: url("../image/cta2-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#contact .contactPage {
  padding: 60px 0;
  background-color: rgba(173, 172, 235, 0.3);
}
#contact .contactPage .contactNote {
  text-align: center;
  color: rgb(27, 80, 36);
}
#contact .contactPage .contactNote p {
  color: #ffffff;
  font-size: 20px;
}
#contact .contactPage .contactNote i {
  font-size: 30px;
}
#contact .contactPage .contactNote a {
  color: #ffffff;
  background-color: rgb(27, 80, 36);
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid rgb(27, 80, 36);
  transition: all 0.5s linear;
  font-family: "Montserrat", sans-serif;
}
#contact .contactPage .contactNote a:hover {
  color: rgb(27, 80, 36);
  background-color: transparent;
}

#contactPage {
  background-color: white;
}
#contactPage .contactItem {
  background-image: url("../image/bg_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contactPage .contactItem .item1 {
  background-color: rgba(17, 95, 17, 0.452);
  padding: 200px 50px;
}
#contactPage .contactItem .item1 .herroBanner .item1Note {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  text-align: center;
}
#contactPage .contactItem .item1 .herroBanner .item1Note h1 {
  font-weight: bold;
}
#contactPage .contactItem .item1 .herroBanner .item1Note div a {
  color: #ffffff;
}
#contactPage .item2 {
  padding: 50px 0;
}
#contactPage .item2 .herroBanner .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 20px;
}
#contactPage .item2 .herroBanner .row .col {
  width: 250px;
  height: 25vh;
  background-color: #e5e9ec;
  text-align: center;
  padding: 5px;
  color: rgb(27, 80, 36);
}
#contactPage .item2 .herroBanner .row .col h4 {
  margin-bottom: 3vh;
}
#contactPage .item2 .herroBanner .row .col a {
  color: rgb(27, 80, 36);
}
@media only screen and (max-width: 992px) {
  #contactPage .item2 .herroBanner .row .col {
    height: 20vh;
  }
}
#contactPage .item3 {
  padding: 50px 100px;
  background-color: #e5e9ec;
}
#contactPage .item3 .herroBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 30px;
}
#contactPage .item3 .herroBanner .note {
  color: rgb(27, 80, 36);
  margin-bottom: 20px;
}
#contactPage .item3 .herroBanner form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contactPage .item3 .herroBanner form .formTag {
  border: 1px dashed rgb(27, 80, 36);
  margin-bottom: 10px;
  padding: 7px;
}
#contactPage .item3 .herroBanner form input {
  border: gray;
}
#contactPage .item3 .herroBanner form select {
  width: 400px;
}
#contactPage .item3 .herroBanner form textarea {
  width: 400px;
}
#contactPage .item3 .herroBanner form button {
  color: white;
  background-color: rgb(27, 80, 36);
  padding: 10px 30px;
  border-radius: 20px;
  transition: all 0.5s linear;
  border: 1px solid rgb(27, 80, 36);
  font-family: "Montserrat", sans-serif;
}
#contactPage .item3 .herroBanner form button:hover {
  color: rgb(27, 80, 36);
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  #contactPage .item3 {
    padding: 50px;
  }
  #contactPage .item3 .herroBanner {
    flex-direction: column;
  }
  #contactPage .item3 .herroBanner form .formTag {
    width: 300px;
  }
}

footer {
  background-color: rgb(27, 80, 36);
}
footer .herroBanner .footerTop {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid coral;
}
footer .herroBanner .footerTop h4 {
  color: rgb(253, 161, 128);
  font-size: 30px;
  position: relative;
  margin-bottom: 20px;
  font-family: "Sacramento", cursive;
}
footer .herroBanner .footerTop h4 span {
  position: absolute;
  left: 15px;
}
footer .herroBanner .footerTop nav {
  margin: top;
  display: flex;
}
footer .herroBanner .footerTop nav ul li a {
  color: rgb(253, 161, 128);
}
@media only screen and (max-width: 767px) {
  footer .herroBanner .footerTop {
    flex-direction: column;
  }
  footer .herroBanner .footerTop h4 {
    position: static !important;
    text-align: center;
  }
  footer .herroBanner .footerTop h4 span {
    position: static;
  }
  footer .herroBanner .footerTop nav {
    flex-direction: column !important;
  }
  footer .herroBanner .footerTop nav ul {
    text-align: center;
  }
}
footer .herroBanner .footerBottum {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}
footer .herroBanner .footerBottum p {
  color: rgb(253, 161, 128);
}
@media only screen and (max-width: 556px) {
  footer .herroBanner .footerBottum p {
    text-align: center;
  }
}
footer .herroBanner .footerBottum ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
footer .herroBanner .footerBottum ul li a {
  color: rgb(253, 161, 128);
}
@media only screen and (max-width: 767px) {
  footer .herroBanner .footerBottum {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */