* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
}

.herroBanner {
  max-width: 1200px;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .herroBanner {
    padding: 0 5%;
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: rgb(27, 80, 36);
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
}
header nav h4 {
  color: #ffffff;
  font-size: 20px;
  position: relative;
  bottom: 8px;
}
header nav h4 span {
  position: absolute;
  left: 15px;
}
header nav h4:hover span {
  color: rgb(253, 161, 128);
}
header nav .headItem1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 0px;
}
header nav .headItem1 li a {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid transparent;
}
header nav .headItem1 li a:hover {
  border-color: rgb(253, 161, 128);
  color: rgb(253, 161, 128);
}
@media only screen and (max-width: 992px) {
  header nav .headItem1 {
    display: none;
  }
}
header nav .fa-bars {
  color: black;
  font-size: 20px;
  display: none;
}
@media only screen and (max-width: 992px) {
  header nav .fa-bars {
    display: block;
  }
}
header nav .darkmode {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
}
header nav .darkmode .fa-sun {
  color: rgb(248, 233, 24);
}
header nav .darkmode .fa-moon {
  color: rgb(58, 58, 138);
}
@media only screen and (max-width: 992px) {
  header nav .darkmode {
    display: none;
  }
}

#home .carousel-item video {
  width: 100%;
}
#home .carousel-item .carousel-caption {
  height: 20vh;
  top: 20%;
  color: white;
  font-family: "Sora", sans-serif;
}
#home .carousel-item .carousel-caption h1 {
  font-size: 60px;
  font-weight: 700;
}
#home .carousel-item .carousel-caption h4 {
  font-size: 20px;
}
@media only screen and (max-width: 767px) {
  #home .carousel-item .carousel-caption h1 {
    font-size: 40px;
  }
  #home .carousel-item .carousel-caption h4 {
    font-size: 15px;
  }
}
#home .herroBanner .homeNote {
  padding: 50px 150px;
  text-align: center;
  color: rgb(27, 80, 36);
  font-size: 20px;
  font-family: "Sora", sans-serif;
}
@media only screen and (max-width: 992px) {
  #home .herroBanner .homeNote {
    padding: 30px 0;
  }
}

#about {
  background-color: #e5e9ec;
}
#about .herroBanner .aboutNote {
  padding: 60px 0;
  font-family: "Sora", sans-serif;
}
#about .herroBanner .aboutNote h2 {
  font-weight: bold;
  color: darkgreen;
  margin-bottom: 3vh;
}
#about .herroBanner .aboutNote p {
  color: rgb(27, 80, 36);
  font-weight: 500;
  font-size: 15px;
  line-height: 5vh;
}
#about .herroBanner .aboutNote a {
  color: white;
  background-color: rgb(27, 80, 36);
  padding: 10px 30px;
  border-radius: 20px;
  transition: all 0.5s linear;
  border: 1px solid rgb(27, 80, 36);
  font-family: "Montserrat", sans-serif;
}
#about .herroBanner .aboutNote a:hover {
  color: rgb(27, 80, 36);
  background-color: transparent;
}

#language .herroBanner .languageNote {
  padding-top: 50px;
  text-align: center;
  color: rgb(27, 80, 36);
}
#language .herroBanner .languageNote h3 {
  font-family: "Sacramento", cursive;
  font-weight: 500;
  font-size: 30px;
}
#language .row {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}
#language .row .col .item {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
#language .row .col .item .itemImg {
  overflow: hidden;
}
#language .row .col .item .itemImg:hover .itemNote {
  z-index: 2;
  height: 40vh;
}
#language .row .col .item .itemImg:hover img {
  scale: 1.1;
}
#language .row .col .item .itemImg img {
  width: 100%;
  height: 50vh;
  transition: all 0.5s linear;
}
#language .row .col .item .itemImg .itemNote {
  padding-top: 20px;
  font-family: "Sora", sans-serif;
  padding-bottom: 10px;
  position: absolute;
  z-index: -1;
  bottom: 0;
  height: 0;
  background-color: rgba(14, 13, 13, 0.7);
  text-align: center;
  color: rgb(253, 161, 128);
  transition: all 0.4s linear;
}
#language .row .col .item .itemImg .itemNote a {
  color: rgb(27, 80, 36);
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: rgb(253, 161, 128);
  transition: all 0.5s linear;
  font-family: "Montserrat", sans-serif;
}
#language .row .col .item .itemImg .itemNote a:hover {
  color: #ffffff;
  background-color: rgb(27, 80, 36);
}

#whywe {
  background-color: rgb(27, 80, 36);
  padding: 60px 0;
}
#whywe .herroBanner .note {
  text-align: center;
  color: rgb(253, 161, 128);
  margin-bottom: 40px;
}
#whywe .herroBanner .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  gap: 10px;
}
#whywe .herroBanner .row .col {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 350px;
  height: 30vh;
}
#whywe .herroBanner .row .col .itemNote {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgb(27, 80, 36);
}
#whywe .herroBanner .row .col .itemNote i {
  padding: 5%;
  border-radius: 50%;
  border: 4px solid #e5e9ec;
  width: 70px;
  height: 65px;
  color: rgb(27, 80, 36);
  background-color: rgb(253, 161, 128);
  font-size: 25px;
}
#whywe .herroBanner .row .col p {
  color: rgb(27, 80, 36);
}

#contact {
  background-image: url("../image/cta2-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#contact .contactPage {
  padding: 60px 0;
  background-color: rgba(173, 172, 235, 0.3);
}
#contact .contactPage .contactNote {
  text-align: center;
  color: rgb(27, 80, 36);
}
#contact .contactPage .contactNote p {
  color: #ffffff;
  font-size: 20px;
}
#contact .contactPage .contactNote i {
  font-size: 30px;
}
#contact .contactPage .contactNote a {
  color: #ffffff;
  background-color: rgb(27, 80, 36);
  padding: 10px 25px;
  border-radius: 20px;
  border: 1px solid rgb(27, 80, 36);
  transition: all 0.5s linear;
  font-family: "Montserrat", sans-serif;
}
#contact .contactPage .contactNote a:hover {
  color: rgb(27, 80, 36);
  background-color: transparent;
}/*# sourceMappingURL=main.css.map */