header {
  position: fixed;
  z-index: 7;
  .headerTop {
    position: fixed;
    width: 100%;
    z-index: 10;
    .herroBanner {
      display: flex;
      flex-direction: column;
      row-gap: 20vh;
      nav {
        @include display;
        height: 12vh;

        h4 {
          color: $light;
          font-size: 26px;
          position: relative;
          bottom: 10px;
          font-weight: 400;
          font-family: "Sacramento", cursive;
          span {
            position: absolute;
            left: 15px;
            color: $dark;
          }
        }
        .headItem1 {
          @include display;
          gap: 30px;
          margin-bottom: 0px;
          .dropdown-menu {
            background-color: $textColor1;
            border-radius: 0px;
            border: 1px solid $light;
            .dropdown-item {
              background-color: $textColor1;
            }
          }

          li {
            a {
              font-weight: 00;
              text-transform: uppercase;
              color: $light;
              font-family: "Montserrat", sans-serif;
              border-bottom: 2px solid transparent;
              &:hover {
                border-color: $dark;
                color: $dark;
              }
            }
          }
          @media only screen and (max-width: 992px) {
            display: none;
          }
        }
        .fa-bars {
          color: $light;
          font-size: 20px;
          display: none;
          @media only screen and (max-width: 992px) {
            display: block;
          }
        }
        .darkModeSignLogin {
          @include display;
          gap: 20px;
          font-size: 20px;
          .fa-sun {
            color: rgb(248, 170, 24);
          }
          .fa-moon {
            display:none;
            color: rgb(58, 58, 138);
          }
          .loginSignup {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 0;
            color:$light;
            p{
              font-size: 35px;
            }
            a {
              text-align: center;
              border:2px solid black;
              padding: 5px 0;
              width: 80px;
              height:50px;
              color: $light;
              &:hover {
                color: $dark;
              }
            }
          }
          @media only screen and (max-width: 992px) {
            display: none;
          }
        }
      }
    }
  }
  .headerBottum {
    display: none;
  }
  @media only screen and (max-width: 992px) {
    .show {
      position: fixed;
      width: 50%;
      z-index: 11;
      background-color: $light;
      display: block;
      .herroBanner {
        nav {
          line-height: 6vh;
          height: 100vh;
          padding: 30px 0;
          h4 {
            color: $dark;
            font-size: 26px;
            position: relative;
            bottom: 10px;
            font-weight: 600;
            font-family: "Sacramento", cursive;
            margin-bottom: 40px;
            span {
              position: absolute;
              left: 15px;
              color: $mainColor;
            }
          }
          ul {
            li {
              a {
                text-transform: uppercase;
                color: $dark;
                font-family: "Montserrat", sans-serif;
                border-bottom: 2px solid transparent;
                font-weight: 600;
                &:hover {
                  border-color: $mainColor;
                  color: $mainColor;
                }
              }
            }
            .darkModeSignLogin {
              display:flex;
              // @include display;
              // justify-content: start;
              flex-direction: column;
              gap: 20px;
              font-size: 20px;
              .fa-sun {
                color: rgb(248, 170, 24);
              }
              .fa-moon {
                display: none;
                color: rgb(58, 58, 138);
              }
              .loginSignup {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 0;
                color:$dark;
                p{
                  font-size: 35px;
                }
                a {
                  text-align: center;
                  border:2px solid black;
                  padding: 5px 0;
                  width: 80px;
                  height:50px;
                  color: $dark;
                  &:hover {
                    color: $textColor1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
