#about {
  background-color: $light;
  // height: 100vh;
  .herroBanner {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: 50px 0;
    .aboutNote {
      padding-top: 40px;
      width: 50%;
      font-family: "Sora", sans-serif;
      h2 {
        font-weight: bold;
        color: $mainColor;
        margin-bottom: 3vh;
      }
      p {
        color: gray;
        font-weight: 500;
        font-size: 15px;
        line-height: 5vh;
      }
      a {
        font-family: "Montserrat", sans-serif;
        background: $mainColor;
        color: $light;
        padding: 10px 30px;
        border: none;
        position: relative;
        cursor: pointer;
        transition: 400ms linear all;
        outline: none;
        &:hover {
          background: transparent;
          color: $mainColor;
        }
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 2px;
          width: 0;
          background: $mainColor;
          transition: 400ms linear all;
        }
        &:after {
          right: inherit;
          top: inherit;
          left: 0;
          bottom: 0;
        }
        &:hover:before,
        &:hover:after {
          width: 100%;
          transition: 400ms linear all;
        }
      }
    }
    .aboutImg {
      height: 70vh;
      width: 50%;
      .img {
        width: 100%;
        height: 100%;
        background-position: start;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .img1 {
        background-image: url("../image/team2.jpg");
      }
      .img2 {
        display: none;
        background-image: url("../image/galery11.jpg");
      }
    @media only screen and (max-width: 776px) {
        .img2 {
          display: block;
        background-position: center;

        }
        .img1 {
          display: none;
        }
      

    }
    }

    @media only screen and (max-width: 992px) {
      flex-direction: column;
      .aboutNote {
        width: 100%;
        padding: 40px 5%;
      }
      .aboutImg {
        width: 100%;
      }
     
    }
  }
}
