#about {
  .herroBanner {
    .aboutNote {
      padding: 60px 0;
      font-family: "Sora", sans-serif;
      h2 {
        font-weight: bold;
        color: $mainColor;
        margin-bottom: 3vh;
      }
      p {
        color: $mainColor;
        font-weight: 500;
        font-size: 15px;
        line-height: 5vh;
      }
      a {
        color: white;
        background-color: $mainColor;
        padding: 10px 30px;
        border-radius: 20px;
        transition: all 0.5s linear;
        border: 1px solid $mainColor;
        font-family: "Montserrat", sans-serif;
        &:hover {
          color: $mainColor;
          background-color: transparent;
        }
      }
    }
  }
}
