////Home Page About section
#about {
  background-color: $light;
  .herroBanner {
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: 50px 0;
    .aboutNote {
      padding-top: 40px;
      width: 50%;
      font-family: "Sora", sans-serif;
      h2 {
        font-weight: bold;
        color: $mainColor;
        margin-bottom: 3vh;
      }
      p {
        color: gray;
        font-weight: 500;
        font-size: 15px;
        line-height: 5vh;
      }
      a {
        font-family: "Montserrat", sans-serif;
        background: $mainColor;
        color: $light;
        padding: 10px 30px;
        border: none;
        position: relative;
        cursor: pointer;
        transition: 400ms linear all;
        outline: none;
        &:hover {
          background: transparent;
          color: $mainColor;
        }
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          height: 2px;
          width: 0;
          background: $mainColor;
          transition: 400ms linear all;
        }
        &:after {
          right: inherit;
          top: inherit;
          left: 0;
          bottom: 0;
        }
        &:hover:before,
        &:hover:after {
          width: 100%;
          transition: 400ms linear all;
        }
      }
    }
    .aboutImg {
      height: 70vh;
      width: 50%;
      .img {
        width: 100%;
        height: 100%;
        background-position: start;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .img1 {
        background-image: url("../image/team2.jpg");
      }
      .img2 {
        display: none;
        background-image: url("../image/galery11.jpg");
      }
      @media only screen and (max-width: 776px) {
        .img2 {
          display: block;
          background-position: center;
        }
        .img1 {
          display: none;
        }
      }
    }

    @media only screen and (max-width: 992px) {
      flex-direction: column;
      .aboutNote {
        width: 100%;
        padding: 40px 5%;
      }
      .aboutImg {
        width: 100%;
      }
    }
  }
}
////About Us Page   about.html
#aboutUsPage {
  .herroBanner {
    .aboutItem1 {
      padding: 50px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      .item1Img {
        width: 70%;
        display: flex;
        .images {
          display: flex;
          flex-direction: column;
          .img1 {
            position: relative;
            left: 140px;
            height: 20vh;
            border-radius: 50%;
            width: 50%;
          }
          .img2 {
            position: relative;
            left: 30px;
            height: 30vh;
            border-radius: 50%;
            width: 75%;
          }
          .img3 {
            position: relative;
            top: 10px;
            left: 90px;
            height: 30vh;
            border-radius: 50%;
            width: 75%;
          }
          @media only screen and (max-width: 992px) {
            display: none !important;
          }
        }
        .img4 {
          border-radius: 50%;
          height: 80vh;
          width: 100%;
        }
        .mainImg {
          background-image: url("../image/englend1.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
          height: 80vh;

          width: 100%;
          display: flex;
          align-items: center;
          .main1Note {
            text-align: center;
            color: $light;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          @media only screen and (max-width: 992px) {
            height: 65vh;
          }
          @media only screen and (max-width: 767px) {
            height: 40vh;
          }
          @media only screen and (max-width: 556px) {
            width: 100%;
          }
        }
        @media only screen and (max-width: 556px) {
          width: 100%;
        }
      }
      .item1Images2 {
        width: 100%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        width: 30%;
        .img5 {
          width: 40%;
          height: 20vh;
          border-radius: 50%;
          position: relative;
          right: 130px;
        }
        .img6 {
          width: 60%;
          height: 30vh;
          border-radius: 50%;
          position: relative;
          bottom: 10px;
          right: 40px;
        }
        .img7 {
          width: 60%;
          height: 30vh;
          border-radius: 50%;
          position: relative;
          right: 100px;
        }

        @media only screen and (max-width: 992px) {
          .img5 {
            width: 75%;
            right: 100px;
          }
          .img6 {
            width: 120%;
            right: 0px;
          }
          .img7 {
            width: 120%;
            right: 50px;
          }
        }

        @media only screen and (max-width: 767px) {
          .img5 {
            width: 70%;
            right: 70px;
            height: 10vh;
            bottom: 10px;
          }
          .img6 {
            width: 120%;
            right: 10px;
            height: 18vh;
          }
          .img7 {
            width: 120%;
            right: 30px;
            height: 18vh;
          }
        }
        @media only screen and (max-width: 556px) {
          display: none;
        }
      }
    }
    .aboutItem2 {
      h1{
        color: gray;
        text-align: center;
      }
      h5{
        color: $textColor1;
        text-align: center;
      }
      .item2Section {
        padding: 40px 0 70px;
        display: flex;
        align-items: center;
        gap: 20px;
        .item2Note {
          padding: 10px;
          p {
            color: gray;
          }
        }
        .item2Img {
          display: flex;
          img {
            width: 320px;
            height: 70vh;
          }
          .item2Img1 {
            position: relative;
            top: 30px;
            z-index: 3;
          }
          .item2Img2 {
            position: relative;
            right: 70px;
            z-index: 2;
          }
          .item2Img3 {
            display: none;
          }
          .item2Img4 {
            display: none;
          }
        }
        @media only screen and (max-width: 992px) {
          flex-direction: column-reverse;
          .item2Img {
            .item2Img1 {
              display: none;
            }
            .item2Img2 {
              display: none;
            }
            .item2Img3 {
              display: block;
              width: 100%;
              height: 60vh;
            }
            @media only screen and (max-width: 556px) {
              .item2Img3 {
                display: none;
              }
              .item2Img4 {
                display: block;
                width: 100%;
                height: 60vh;
              }
            }
          }
        }
      }
    }
  }
}
