#achieveCount {
  background-image: url("../image/counterbox-bg-new-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .countItem {
    background-color: rgba(71, 57, 17, 0.336);
    padding: 100px 0;
    .herroBanner {
      .row {
        --bs-gutter-x: 0rem;
        .item {
          @include display;
          justify-content: center;
          gap: 15px;
          i {
            color: $bg-orange;
            font-size: 60px;
          }
          .itemNote {
            width: 100px;
            color: $light;
            span {
              font-size: 40px;
              font-weight: 600;
            }
          }
        }

        @media only screen and (max-width: 556px) {
          padding: 50px 0;
          .item {
            justify-content: flex-start !important;
          }
        }
      }
    }
  }
}
