#achieveCount {
  background-image: url("../image/counterbox-bg-new-1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .countItem {
    background-color: rgba(14, 12, 36, 0.637);
    padding: 100px 0;
    .herroBanner {
      .item {
        @include display;
        justify-content: center;
        gap: 10px;
        i {
          color: #da853d;
          font-size: 60px;
        }
        .itemNote {
          color: $light;
        }
      }
    }
    @media only screen and (max-width: 556px) {
      padding: 50px 0;
      .item {
        justify-content: flex-start !important;
      }
    }
  }
}
