#admin {
  .row {
    --bs-gutter-x: 0rem;
    .menu {
      background-color: $darkBlue;
      padding-top: 30px;
      padding-bottom: 200px;
      .adminMenu {
        text-align: center;
        img {
          width: 80px;
          height: 85px;
          border-radius: 50%;
        }
        h4 {
          color: $light;
        }
        .icon {
          @include display;
          justify-content: center;
          gap: 20px;
          padding-inline-start: 0;
          li {
            a {
              font-size: 20px;
              color: $textColor1;
            }
          }
        }
      }
      nav {
        padding-top: 30px;
        a {
          color: $light;
          &::after {
            content: "";
            height: 3px;
            display: block;
            width: 30px;
            background-color: transparent;
            border-radius: 10px;
          }
          &:hover {
            color: $textColor1;
            &::after {
              background-color: $textColor1;
            }
          }
        }
      }
    }
    .info {
      padding-bottom: 40px;
      .mainPage {
        padding-top: 60px;
        .infoMenu {
          @include display;
          justify-content: center;
          flex-wrap: wrap;
          gap: 20px;
          h4 {
            height: 20vh;
            @include display;
            justify-content: center;
            width: 200px;
            background-color: $darkBlue;
            transition: all 0.3s linear;
            a {
              color: $textColor1;
            }
            &:hover {
              transform: translateY(-15px);
              a {
                color: $light;
              }
            }
          }
        }
      }
      h1 {
        color: $textColor2;
        text-align: center;
        padding: 40px 0;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        thead {
          tr {
            th {
              color: $textColor1;
              background-color: rgb(13, 13, 85);
              text-align: center;
              border: 1px solid $textColor1;
              padding: 10px;
              font-weight: 600;
            }
          }
        }
        tbody {
          tr {
            td {
              background-color: $darkBlue;
              text-align: center;
              border: 1px solid $textColor1;
              color: white;
              padding: 10px;
              img {
                width: 60px;
                height: 60px;
              }

              button {
                border: none;
                background-color: transparent;
                font-size: 20px;
              }
              .delete {
                color: red;
              }
              .edit {
                color: blue;
              }
            }
          }
        }
      }
      .formItem {
        padding-top: 50px;
        .herroBanner {
          @include display;
          justify-content: center;

          form {
            @include display;
            justify-content: center;
            flex-direction: column;
            width: 400px;
            .formTags {
              width: 500px;
              padding: 10px;
              margin-top: 2px;
              border: 1px solid $textColor1;
              background-color: $darkBlue;
              color: $textColor1;
              &::placeholder {
                color: $textColor1;
              }
            }
            .fullName {
              display: flex;
              column-gap: 2px;
              width: 500px;
              input {
                text-transform: capitalize;
                width: 250px;
              }
            }
            .phoneNumber{
              width: 500px;
              display: flex;
              column-gap: 2px;
              select{
                width: 100px !important;
              }
            }
            .emailExperience {
              width: 500px;
              display: flex;
              column-gap: 2px;
            }

            select {
              color: $textColor1;
              option {
                color: $textColor1;
              }
            }
            input::file-selector-button {
              background-color: $textColor1;
              color: $textColor2;
            }
            textarea {
              height: 20vh;
            }
            .submit {
              font-family: "Montserrat", sans-serif;
              background: $textColor1 !important;
              color: $textColor2;
              padding: 10px 30px;
              border: none;
              position: relative;
              cursor: pointer;
              transition: 400ms linear all;
              outline: none;
              &:hover {
                background: #f77300 !important;
                color: $textColor2;
              }
              &:before,
              &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                height: 2px;
                width: 0;
                background: $textColor2;
                transition: 400ms linear all;
              }
              &:after {
                right: inherit;
                top: inherit;
                left: 0;
                bottom: 0;
              }
              &:hover:before,
              &:hover:after {
                width: 100%;
                transition: 400ms linear all;
              }
            }
          }
        }
      }
      #users {
        display: none;
      }
      #teachers {
        display: none;
      }
      #comment {
        display: none;
      }
      #english {
        display: none;
      }
      #russian {
        display: none;
      }
      #german {
        display: block;
      }
      #french {
        display: none;
      }
    }
  }
}
