////home page blog section!
#blog {
  background-color: $lightCoral;
  padding-top: 50px;
  .herroBanner {
    h1 {
      text-align: center;
      color: $mainColor;
      text-shadow: 4px 4px 4px $textColor1;
    }
    .swiper {
      width: 100%;
      padding: 50px 0;
      .swiper-slide {
        border-radius: 20px;
        background-color: $light;
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 470px;
        .slideImg {
          overflow: hidden;
          border-radius: 10px;
          img {
            display: block;
            width: 100%;
            height: 250px;
            transition: all 0.5s linear;
          }
        }
        .slideNote {
          padding: 7px;
          text-align: center;
          color: $mainColor;
        }
        &:hover {
          .note1 {
            color: $textColor1;
          }
          .slideImg {
            img {
              scale: 1.2;
              transform: rotate(10deg);
            }
          }
        }
      }
    }
  }
}
////blog.html!    Blog page

#blogPage {
  .blogItem {
    background-image: url("../image/banner-courses-hub.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .item1 {
      background-color: rgba(233, 193, 156, 0.384);
      padding: 200px 50px;
      .herroBanner {
        .item1Note {
          font-family: "Montserrat", sans-serif;
          color: $light;
          text-align: center;
          h1 {
            font-weight: bold;
            text-shadow: 4px 4px 3px $light;
            font-size: 60px;
          }
          div {
            a {
              color: $light;
            }
          }
        }
      }
    }
  }
  .blogItem1 {
    .swiper {
      display: flex;
      width: 300px;
      height:300px;
      position: relative;
      left: 50%;
      top: 50%;
      margin-left: -150px;
      margin-top: -130px;
      .swiper-slide {
        background-position: center;
        background-size: cover;
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
  .blogItem2 {
    @include display;
    justify-content: center;
    width: 100%;
    .item {
      width: 50%;
      img {
        width: 100%;
        height: 65vh;
      }
    }
    .info {
      width: 50%;
      .item2Note {
        color: $mainColor;
        line-height: 5vh;
        padding: 50px 20px;
        .line {
          height: 5px;
          width: 70px;
          background-color: $mainColor;
          border-radius: 5px;
          margin-bottom: 30px;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      .product2 {
        flex-direction: column-reverse;
      }
      .item {
        width: 100%;
      }
      .info {
        width: 100%;
        .item2Note {
          padding: 50px;
        }
      }
    }
  }
  .product2 {
    @media only screen and (max-width: 767px) {
      flex-direction: column-reverse;
    }
  }
}
