////index.html! contact section!
#contact {
  background-image: url("../image/cta2-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .contactPage {
    padding: 60px 0;
    background-color: rgba(241, 174, 111, 0.3);
    .herroBanner {
      .contactNote {
        text-align: center;
        color: $mainColor;
        h2 {
          text-shadow: 2px 2px 1px $light;
          font-weight: bold;
        }
        p {
          color: $light;
          font-size: 20px;
        }
        i {
          font-size: 30px;
        }
        a {
          padding: 10px 25px;
          border-radius: 20px;
          font-family: "Montserrat", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          overflow: hidden;
          display: inline-block;
          color: $light;
          background: none;
          border: 1px solid $mainColor;
          cursor: pointer;
          transform: translate3d(0, 0, 0);
          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            height: 150%;
            background: $mainColor;
            pointer-events: none;
            transform: translate3d(0, 45px, 0);
            transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
          }
          i {
            font-style: normal;
            line-height: 4.5rem;
            display: inline-block;
            height: 100%;
            padding-left: 1px;
            padding-right: 1px;
            transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
            &:hover {
              transform: translate3d(0, -6px, 0);
            }
          }
          &:hover {
            color: $light;
            &:after {
              transform: translate3d(0, 0, 0);
            }
          }
        }
      }
    }
  }
}

////contact.html!

#contactPage {
  .contactItem {
    background-image: url("../image/course-5-768x512.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .item1 {
      background-color: #da863d11;
      padding: 220px 50px;
      .herroBanner {
        .item1Note {
          font-family: "Montserrat", sans-serif;
          color: $light;
          text-align: center;
          h1 {
            font-weight: bold;
            text-shadow: 3px 3px 3px $textColor1;
          }
          div {
            a {
              color: $light;
            }
          }
        }
      }
    }
  }
  .item2 {
    padding: 50px 0;
    .herroBanner {
      .row {
        @include display;
        justify-content: center;
        align-items: center;
        --bs-gutter-x: 0rem;
        .col {
          padding: 15px;
          .item2Note {
            height: 25vh;
            background-color: $lightCoral;
            text-align: center;
            padding: 20px 5px;
            color: $mainColor;
            transition: all 0.3s linear;
            h4 {
              margin-bottom: 3vh;
            }
            a {
              color: $mainColor;
            }
            @media only screen and (max-width: 992px) {
              height: 20vh;
            }
            &:hover {
              transform: translateY(-15px);
              background-color: $bg-orange;
              color: $lightCoral;
              a {
                color: $lightCoral;
              }
            }
          }
          @media only screen and (max-width: 556px) {
            padding: 10px 25px;
          }
        }
      }
    }
  }
  .item3 {
    padding: 50px 100px;
    background-color: $lightCoral;
    .herroBanner {
      @include display;
      justify-content: center;
      gap: 30px;
      .note {
        color: $mainColor;
        margin-bottom: 20px;
        text-align: center;
      }
      form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .formTag {
          border: 1px dashed $mainColor;
          margin-bottom: 10px;
          padding: 7px;
        }
        input {
          border: gray;
          width: 200px;
        }
        select {
          width: 400px;
        }
        textarea {
          width: 400px;
        }
        button {
          color: white;
          background-color: $mainColor;
          padding: 10px 30px;
          border-radius: 20px;
          transition: all 0.5s linear;
          border: 1px solid $mainColor;
          font-family: "Montserrat", sans-serif;
          &:hover {
            color: $mainColor;
            background-color: transparent;
          }
        }
      }
    }
    @media only screen and (max-width: 992px) {
      padding: 50px 0;
      .herroBanner {
        flex-direction: column;
        form {
          div {
            display: flex;
            flex-direction: column;
          }
          .formTag {
            width: 500px;
          }
        }
      }
    }

    @media only screen and (max-width: 556px) {
      .herroBanner {
        form {
          .formTag {
            width: 290px;
          }
        }
      }
    }
  }
}
