////index.html! contact section!
#contact {
  background-image: url("../image/cta2-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .contactPage {
    padding: 60px 0;
    background-color: rgba(241, 174, 111, 0.3);
    .herroBanner {
      .contactNote {
        text-align: center;
        color: $mainColor;
        h2 {
          text-shadow: 2px 2px 1px $light;
          font-weight: bold;
        }
        p {
          color: $light;
          font-size: 20px;
        }
        i {
          font-size: 30px;
        }
        a {
          color: $mainColor;
          background-color: transparent;
          padding: 10px 25px;
          border-radius: 20px;
          border: 1px solid $mainColor;
          transition: all 0.5s linear;
          font-family: "Montserrat", sans-serif;
          &:hover {
            color: $light;
            background-color: $mainColor;
          }
        }
      }
    }
  }
}

////contact.html!

#contactPage {
  .contactItem {
    background-image: url("../image/contactImg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .item1 {
      padding: 200px 50px;
      .herroBanner {
        .item1Note {
          font-family: "Montserrat", sans-serif;
          color: $light;
          text-align: center;
          h1 {
            font-weight: bold;
          }
          div {
            a {
              color: $light;
            }
          }
        }
      }
    }
  }
  .item2 {
    padding: 50px 0;
    .herroBanner {
      .row {
        @include display;
        justify-content: center;
        gap: 20px;
        .col {
          width: 250px;
          height: 25vh;
          background-color: $lightCoral;
          text-align: center;
          padding: 10px 5px;
          color: $mainColor;
          transition: all 0.3s linear;
          h4 {
            margin-bottom: 3vh;
          }
          a {
            color: $mainColor;
          }
          @media only screen and (max-width: 992px) {
            height: 20vh;
          }
          &:hover {
            transform: translateY(-15px);
            background-color: $bg-orange;
            color: $lightCoral;
            a {
              color: $lightCoral;
            }
          }
        }
      }
    }
  }
  .item3 {
    padding: 50px 100px;
    background-color: $lightCoral;
    .herroBanner {
      @include display;
      justify-content: center;
      gap: 30px;
      .note {
        color: $mainColor;
        margin-bottom: 20px;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .formTag {
          border: 1px dashed $mainColor;
          margin-bottom: 10px;
          padding: 7px;
        }
        input {
          border: gray;
        }
        select {
          width: 400px;
        }
        textarea {
          width: 400px;
        }
        button {
          color: white;
          background-color: $mainColor;
          padding: 10px 30px;
          border-radius: 20px;
          transition: all 0.5s linear;
          border: 1px solid $mainColor;
          font-family: "Montserrat", sans-serif;
          &:hover {
            color: $mainColor;
            background-color: transparent;
          }
        }
      }
    }
    @media only screen and (max-width: 767px) {
      padding: 50px;
      .herroBanner {
        flex-direction: column;
        form {
          .formTag {
            width: 300px;
          }
        }
      }
    }
  }
}
