#courses {
  .coursesItem1 {
    background-image: url("../image/library5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 220px 0;
    .herroBanner {
      .item1Note {
        font-family: "Montserrat", sans-serif;
        color: $light;
        text-align: center;
        h1 {
          font-size: 50px;
          font-weight: bold;
          @media only screen and (max-width: 556px) {
            font-size: 40px;
          }
        }
        div {
          a {
            color: $light;
          }
        }
      }
    }
  }
  .coursesItem2 {
    width: 100%;
    .coursesSection {
      width: 100%;
      overflow: hidden;
      display: flex;
      .item2Note {
        width: 50%;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .note {
          h4 {
            font-size: 40px;
          }
          p {
            color: gray;
            font-size: 20px;
          }
          button {
            font-family: "Montserrat", sans-serif;
            background: $mainColor;
            color: $light;
            padding: 10px 30px;
            border: none;
            position: relative;
            cursor: pointer;
            transition: 400ms linear all;
            outline: none;
            &:hover {
              background: transparent;
              color: $mainColor;
            }
            &:before,
            &:after {
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              height: 2px;
              width: 0;
              background: $mainColor;
              transition: 400ms linear all;
            }
            &:after {
              right: inherit;
              top: inherit;
              left: 0;
              bottom: 0;
            }
            &:hover:before,
            &:hover:after {
              width: 100%;
              transition: 400ms linear all;
            }
          }
        }
      }
      .item2Img {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }

    @media only screen and (max-width: 992px) {
      .coursesSection {
        flex-direction: column;
        .item2Note {
          width: 100%;
          padding: 60px 30px;
        }
        .item2Img {
          width: 100%;
        }
      }
      .coursesSection2 {
        flex-direction: column-reverse;
      }
      .coursesSection4 {
        flex-direction: column-reverse;
      }
    }
  }

  .coursesItem3 {
    padding: 50px 0;
    .herroBanner {
      h1 {
        color: $textColor1;
        text-align: center;
        font-size: 40px;
      }
      p {
        color: gray;
        font-size: 20px;
        text-align: center;
        margin-bottom: 40px;
      }
      .row {
        display: flex;
        align-items: center;
        justify-content: center;
        --bs-gutter-x: 0rem;
        .col {
          width: 350px;
          padding: 10px;
          .achievmentCard {
            height: 350px;
            border-radius: 20px;
            border: 1px solid transparent;
            position: relative;
            transition: all 0.5s linear;
            overflow: hidden;
            .logo {
              color: white;
              background-color: $textColor1;
              padding: 7px 10px;
              width: 45px;
              font-family: "Dancing Script", cursive;
              rotate: (90deg);
              position: absolute;
              left: 270px;
              bottom: 280px;
              z-index: 6;
              border-top-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
            img {
              width: 100%;
              height: 100%;
              border-radius: 20px;
              z-index: 4;
              transition: all 0.5s linear;
            }
            .cardNote {
              position: absolute;
              padding: 10px 20px 0px;
              bottom: 5px;
              color: $light;
              .note {
                border-top-right-radius: 10px;
                border-bottom-left-radius: 10px;
                padding: 2px 5px;
              }
              .note1 {
                background-color: $textColor1;
              }
            }
            &:hover {
              img {
                transform: scale(1.2);
              }
            }
          }
        }
      }
    }
  }
  .coursesComment {
    background-image: url("../image/graduates.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .commentSlider {
      background-color: rgba(19, 45, 68, 0.788);
      padding: 60px 0;
      .herroBanner {
        h1 {
          text-align: center;
          color: $textColor1;
        }
        .swiper {
          width: 100%;
          padding: 50px 0;
          .swiper-wrapper {
            display: flex;
            gap: 20px;
            .swiper-slide {
              background-color: transparent;
              background-position: center;
              background-size: cover;
              width: 280px;
              height: 350px;
              .item {
                display: flex;
                flex-direction: column;
                row-gap: 30px;
                .commentNote {
                  text-align: center;
                  @include display;
                  justify-content: center;
                  background-color: $textColor1;
                  color: $light;
                  border-radius: 10px;
                  width: 280px;
                  height: 200px;
                  padding: 5px;
                }
                .itemImg {
                  @include display;
                  justify-content: start;
                  gap: 20px;
                  img {
                    display: block;
                    width: 90px;
                    height: 90px;
                    object-fit: cover;
                    border-radius: 50%;
                  }
                  .imgNote {
                    padding-inline-start: 0;
                    color: $textColor1;
                  }
                }
              }
            }
          }
        }
      }
      
    }
    button {
      text-align: center;
      font-family: "Montserrat", sans-serif;
      background: $mainColor;
      color: $light;
      padding: 10px 30px;
      border: none;
      position: relative;
      cursor: pointer;
      transition: 400ms linear all;
      outline: none;
      &:hover {
        background: transparent;
        color: $mainColor;
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 2px;
        width: 0;
        background: $mainColor;
        transition: 400ms linear all;
      }
      &:after {
        right: inherit;
        top: inherit;
        left: 0;
        bottom: 0;
      }
      &:hover:before,
      &:hover:after {
        width: 100%;
        transition: 400ms linear all;
      }
    }
  }
}

////////////Form//////////
.formItem {
  padding-top: 50px;
  .herroBanner {
    @include display;
    justify-content: center;

    form {
      @include display;
      justify-content: center;
      flex-direction: column;
      .formTags {
        width: 500px;
        padding: 10px;
        margin-top: 1px;
        border: 1px solid $dark;
        background-color: $dark;
        color: $textColor1;
        outline: #f4f5f9;
        &::placeholder {
          color: $textColor1;
        }
        @media only screen and (max-width: 767px) {
          width: 400px;
        }
        @media only screen and (max-width: 556px) {
          width: 250px;
        }
      }
      .fullName {
        display: flex;
        column-gap: 1px;
        width: 500px;
        input {
          text-transform: capitalize;
          width: 250px;
        }
        @media only screen and (max-width: 767px) {
          flex-direction: column;
          width: 400px;
          input {
            width: 400px;
          }
        }
        @media only screen and (max-width: 556px) {
          width: 250px;
          input {
            width: 250px;
          }
        }
      }
      input::file-selector-button {
        background-color: $textColor1;
        color: $dark;
      }
      textarea {
        height: 20vh;
      }
      .submit {
        background: $textColor1 !important;
        padding: 10px 0px;
        transition: 500ms linear all;
        outline: none;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        overflow: hidden;
        display: inline-block;
        color: $light;
        cursor: pointer;
        border: none;
        transform: translate3d(0, 0, 0);
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: -1;
          height: 150%;
          background: $textColor2;
          pointer-events: none;
          transform: translate3d(0, 45px, 0);
          transition: all 0.3s 0s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        i {
          font-style: normal;
          line-height: 4.5rem;
          display: inline-block;
          height: 100%;
          padding-left: 1px;
          padding-right: 1px;
          transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
          &:hover {
            transform: translate3d(0, -6px, 0);
          }
        }
        &:hover {
          color: $light;
          &:after {
            transform: translate3d(0, 0, 0);
          }
        }
      }
    }
  }
}

//////////Modal/////////
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  /* Modal Content */
  .modal-content {
    background-color: rgba(241, 159, 6, 0.692);
    margin: auto;
    padding: 40px;
    border: 1px solid #888;
    width: 80%;

    h2 {
      color: white;
    }
    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;

      &:hover,
      &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
      }
    }
    @media only screen and (max-width: 556px) {
      width: 90%;
    }
  }
}
