////Home page gallery section!
#galery {
  padding-top: 40px;
  background-color: $darkBlue;
  h1 {
    text-align: center;
    color: $mainColor;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
  }
  p {
    text-align: center;
    color: $light;
    margin-bottom: 20px;
    font-family: "Sacramento", cursive;
    font-size: 30px;
  }
  .swiper {
    width: 100%;
    height: 100%;
    .swiper-slide {
      display: flex;
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      background-size: cover;
      width: 500px;
      img {
        display: block;
        width: 50%;
        height: 70vh;
        object-fit: cover;
      }
      @media only screen and (max-width: 767px) {
        flex-direction: column;
        img {
          width: 100%;
        }
      }
    }
    .pagination-button {
      color: $mainColor;
    }
  }
}

////Galery Page!

#galleryPage {
  .galleryItem {
    background-image: url("../image/book1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .item1 {
      padding: 200px 50px;
      .herroBanner {
        .item1Note {
          font-family: "Montserrat", sans-serif;
          color: $light;
          text-align: center;
          h1 {
            font-weight: bold;
            text-shadow: 3px 3px 3px $mainColor;
          }
          div {
            a {
              color: $light;
            }
          }
        }
      }
    }
  }
  .galleryItem2 {
    background-color: $darkBlue;
    .swiper {
      width: 100%;
      padding: 50px 0;
      .swiper-slide {
        border-radius: 20px;
        background-color: $light;
        background-position: center;
        background-size: cover;
        width: 350px;
        .slideImg {
          overflow: hidden;
          border-radius: 10px;
          img {
            display: block;
            width: 100%;
            height: 350px;
            transition: all 0.5s linear;
          }
        }
        &:hover {
          .slideImg {
            img {
              scale: 1.2;
              transform: rotate(10deg);
            }
          }
        }
      }
    }
  }
  .galleryItem3 {
    padding: 30px 0;
    .herroBanner {
      @include display;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      .item3Img {
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        width: 440px;
        border-radius: 20px;
        .item {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          transition: all 0.6s linear;
        }
        &:hover {
          .item {
            background-color: #010b4d65;
            transform: rotateY(180deg);
          }
        }
        @media only screen and (max-width: 996px) {
          width: 330px;
        }
        @media only screen and (max-width: 767px) {
          width: 550px;
        }
      }
      .img1 {
        background-image: url("../image/galery1.jpg");
      }
      .img2 {
        background-image: url("../image/galery6.jpg");
      }
      .img3 {
        background-image: url("../image/galery2.jpg");
      }
      .img4 {
        background-image: url("../image/course-20-400x300.jpg");
      }
      .img5 {
        background-image: url("../image/galery4.jpg");
      }
      .img6 {
        background-image: url("../image/book1.jpg");
      }
      .img7 {
        background-image: url("../image/fullscreen-slider.jpg");
      }
      .img8 {
        background-image: url("../image/courses-14.jpg");
      }
    }
  }
  .galleryItem4 {
    .swiper {
      width: 100%;
      height: 100%;
      .swiper-slide {
        display: flex;
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        width: 500px;
        img {
          display: block;
          width: 50%;
          height: 70vh;
          object-fit: cover;
        }
        @media only screen and (max-width: 767px) {
          flex-direction: column;
          img {
            width: 100%;
          }
        }
      }
      .pagination-button {
        color: $mainColor;
      }
    }
  }
}
