#home {
  .herroBanner {
    padding: 250px 0;
    background-image: url("../image/courses-14.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .homeItem {
      .item {
        .itemNote {
          text-align: center;
          color: white;
        }
      }
    }
  }
}
