#language {
  background-color: $darkBlue2;
  .herroBanner {
    .languageNote {
      padding-top: 60px;
      text-align: center;
      color: $light;
      h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
      }
      h3 {
        font-family: "Sacramento", cursive;
        font-weight: 500;
        font-size: 30px;
      }
    }
  }
  .row {
    padding: 20px 0 50px 0;
    display: flex;
    justify-content: center;
    .col {
      .item {
        position: relative;
        z-index: 1;
        overflow: hidden;

        .itemImg {
          overflow: hidden;
          .itemNote {
            padding-top: 70px;
          }
          &:hover {
            .itemNote {
              z-index: 2;
              height: 50vh;
            }
            img {
              scale: (1.1);
            }
          }
          img {
            width: 100%;
            height: 50vh;
            transition: all 0.5s linear;
          }
          .itemNote {
            // padding: 50px 5px;
            font-family: "Sora", sans-serif;
            // padding-bottom: 10px;
            position: absolute;
            z-index: -1;
            bottom: 0;
            height: 0;
            background-color: rgba(8, 12, 65, 0.5);
            text-align: center;
            color: $light;
            transition: all 0.4s linear;
            a {
              color: $textColor2;
              font-size: 14px;
              padding: 10px 20px;
              border-radius: 20px;
              background-color: $light;
              transition: all 0.5s linear;
              font-family: "Montserrat", sans-serif;
              &:hover {
                color: $light;
                background-color: $mainColor;
              }
            }
          }
        }
      }
    }
  }
}
