////Home page teacher section!
#teacher {
  background-color: #f3f3f3;
  .herroBanner {
    padding: 60px 0;
    .teacherNote {
      text-align: center;
      color: $mainColor;
      font-family: "Montserrat", sans-serif;
      h1 {
        color: $textColor1;
        font-weight: bold;
      }
      p {
        font-size: 20px;
        color: gray;
      }
    }
    .row {
      --bs-gutter-x: 0rem;
      padding-top: 40px;
      @include display;
      justify-content: center;
      .col {
        padding: 0 10px;
        transition: all 0.3s linear;
        .item {
          background-color: white;

          padding: 50px 20px;
          border: 1px solid white;
          text-align: center;
          border-bottom: 2px solid transparent;

          .itemImg {
            position: relative;
            transition: all 0.5s linear;
            img {
              border: 2px solid white;
              margin-top: -120px;
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }
          }
          .itemNote {
            color: $mainColor;
            font-family: "Montserrat", sans-serif;
            h3 {
              font-weight: 500;
            }
            h5 {
              color: gray;
            }
            p {
              color: gray;
            }
            a {
              color: $textColor2;
              background-color: $mainColor;
              padding: 10px 25px;
              border-radius: 20px;
              border: 1px solid $mainColor;
              transition: all 0.5s linear;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 10px;
              &:hover {
                color: $mainColor;
                background-color: transparent;
              }
            }
          }
        }
        &:hover {
          transform: translateY(-10px);
          h3,
          p {
            color: $textColor1;
          }
          .itemImg {
            i {
              z-index: 1;
            }
          }
          .item {
            border-bottom-color: $textColor1;
          }
        }
      }
    }
  }
}

////team.html!    Team Page

.teamPage {
  .teamItem {
    background-image: url("../image/galery4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .item1 {
      background-color: #da863d2a;
      padding: 250px 50px;
      .item1Note {
        font-family: "Montserrat", sans-serif;
        color: $light;
        text-align: center;
        h1 {
          font-weight: bold;
          text-shadow: 3px 3px 2px $darkBlue;
        }
        div {
          a {
            color: $light;
          }
        }
      }
    }
  }
  .teamItem2 {
    padding: 50px 0;
    background-color: $lightGray;
    .teamItem2Note {     
      text-align: center;
      h1 {
        color: $mainColor;
        margin-bottom: 20px;
      }
    }
    .line {
      width: 100%;
      height: 2px;
      background-color: $textColor1;
    }

    .row {
      padding-top: 50px;
      @include display;
      justify-content: center;
      .col {
        .item {
          background-color:$light;
          padding: 30px 20px;
          text-align: center;
          .itemImg {
            position: relative;
            transition: all 0.5s linear;
            img {
              border: 2px solid $textColor1;
              position: relative;
              margin-top: -100px;
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }
          }
          .itemNote {
            color: gray;
            font-family: "Montserrat", sans-serif;
            h3 {
              color: $dark;
            }
            a {
              color: $mainColor;
              background-color: transparent;
              padding: 10px 25px;
              border-radius: 20px;
              border: 1px solid $mainColor;
              transition: all 0.5s linear;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 10px;
              &:hover {
                color: $textColor2;
                background-color: $mainColor;
              }
            }
          }
        }
        &:hover {
          h3 {
            color: $textColor1;
          }
          h5 {
            color: $textColor1;
          }
          .itemImg {
            i {
              z-index: 1;
            }
          }
        }
      }
    }
  }
  .teamItem3 {
    padding: 50px 0;
    .herroBanner {
      h1 {
        color: $textColor1;
        text-align: center;
        text-shadow: 1px 1px $mainColor;
      }
      .swiper {
        width: 100%;
        padding: 50px 0;
        .swiper-slide {
          background-color: $darkBlue;
          background-position: center;
          background-size: cover;
          width: 300px;
          height: 430px;
          .slideImg {
            overflow: hidden;
            position: relative;
            transition: all 0.5s linear;
            img {
              display: block;
              width: 100%;
              height: 230px;
            }
            ul {
              width: 100%;
              position: absolute;
              @include display;
              justify-content: center;
              gap: 5px;
              background-color: #da863d80;
              transition: all 0.5s linear;
              opacity: 0;
              left: 0;
              bottom: -55px;
              padding-inline-start: 0;
              transform: translateY(0px);
              height: 15vh;
              li {
                a {
                  color: $textColor1;
                  font-size: 30px;
                  &:hover {
                    color: #2c5c2f;
                  }
                }
              }
            }
          }
          .slideNote {
            padding: 7px;
            text-align: center;
            color: $mainColor;
            h4 {
              color: $light;
            }
          }
          &:hover {
            span {
              color: $light;
            }
            .slideImg {
              ul {
                opacity: 1;
                transform: translateY(-30px);
                z-index: 9;
              }
            }
          }
        }
      }
    }
  }
}
