////Home page teacher section!
#teacher {
  .herroBanner {
    background-color: $lightBlue;
    padding: 50px 0;
    .teacherNote {
      text-align: center;
      color: $mainColor;
      font-family: "Montserrat", sans-serif;
    }
    .row {
      padding-top: 50px;
      @include display;
      justify-content: center;
      .col {
        .item {
          padding: 30px 20px;
          border: 1px solid $mainColor;
          text-align: center;
          .itemImg {
            position: relative;
            transition: all 0.5s linear;
            img {
              border: 2px solid $coral;
              position: relative;
              margin-top: -100px;
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }
            i {
              position: absolute;
              margin-top: -40px;
              margin-left: -26%;
              font-size: 30px;
              color: $mainColor;
              z-index: -1;
            }
          }
          .itemNote {
            color: $mainColor;
            font-family: "Montserrat", sans-serif;
            a {
              color: $mainColor;
              background-color: transparent;
              padding: 10px 25px;
              border-radius: 20px;
              border: 1px solid $mainColor;
              transition: all 0.5s linear;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 10px;
              &:hover {
                color: $coral;
                background-color: $mainColor;
              }
            }
          }
        }
        &:hover {
          h3,
          p {
            color: $coral;
          }
          .itemImg {
            i {
              z-index: 1;
            }
          }
        }
      }
    }
  }
}

////team.html!    Team Page

.teamPage {
  .teamItem {
    background-image: url("../image/galery4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .item1 {
      background-color: rgba(78, 134, 78, 0.315);
      padding: 200px 50px;
      .item1Note {
        font-family: "Montserrat", sans-serif;
        color: $light;
        text-align: center;
        h1 {
          font-weight: bold;
          text-shadow: 2px 2px $light;
        }
        div {
          a {
            color: $light;
          }
        }
      }
    }
  }
}
