////Home page teacher section!
#teacher {
  padding: 50px 0;
  .herroBanner {
    .teacherNote {
      text-align: center;
      color: $mainColor;
      font-family: "Montserrat", sans-serif;
      h1 {
        text-shadow: 3px 3px 2px $textColor1;
        font-weight: bold;
      }
      p {
        font-size: 20px;
      }
    }
    .row {
      padding-top: 50px;
      @include display;
      justify-content: center;
      .col {
        .item {
          padding: 30px 20px;
          border: 1px solid $mainColor;
          text-align: center;
          .itemImg {
            position: relative;
            transition: all 0.5s linear;
            img {
              border: 2px solid $textColor1;
              position: relative;
              margin-top: -100px;
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }
            i {
              position: absolute;
              margin-top: -5px;
              margin-left: -27%;
              font-size: 35px;
              color: $mainColor;
              z-index: -1;
            }
          }
          .itemNote {
            color: $mainColor;
            font-family: "Montserrat", sans-serif;
            a {
              color: $mainColor;
              background-color: transparent;
              padding: 10px 25px;
              border-radius: 20px;
              border: 1px solid $mainColor;
              transition: all 0.5s linear;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 10px;
              &:hover {
                color: $textColor1;
                background-color: $mainColor;
              }
            }
          }
        }
        &:hover {
          h3,
          p {
            color: $textColor1;
          }
          .itemImg {
            i {
              z-index: 1;
            }
          }
        }
      }
    }
  }
}

////team.html!    Team Page

.teamPage {
  .teamItem {
    background-image: url("../image/galery4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    .item1 {
      background-color: #da863d2a;
      padding: 250px 50px;
      .item1Note {
        font-family: "Montserrat", sans-serif;
        color: $light;
        text-align: center;
        h1 {
          font-weight: bold;
          text-shadow: 3px 3px 2px $light;
        }
        div {
          a {
            color: $light;
          }
        }
      }
    }
  }
  .teamItem2 {
    padding: 50px 0;
    .teamItem2Note {
      text-align: center;
      h1 {
        color: $mainColor;
        text-shadow: 2px 2px 2px $textColor1;
        margin-bottom: 20px;
        font-weight: bold;
      }
    }
    .line {
      width: 100%;
      height: 2px;
      background-color: $textColor1;
    }

    .row {
      padding-top: 50px;
      @include display;
      justify-content: center;
      .col {
        .item {
          padding: 30px 20px;
          border: 1px solid $mainColor;
          text-align: center;
          .itemImg {
            position: relative;
            transition: all 0.5s linear;
            img {
              border: 2px solid $textColor1;
              position: relative;
              margin-top: -100px;
              width: 150px;
              height: 150px;
              border-radius: 50%;
            }
            i {
              position: absolute;
              margin-top: -5px;
              margin-left: -27%;
              font-size: 35px;
              color: $mainColor;
              z-index: -1;
            }
          }
          .itemNote {
            color: $mainColor;
            font-family: "Montserrat", sans-serif;
            a {
              color: $mainColor;
              background-color: transparent;
              padding: 10px 25px;
              border-radius: 20px;
              border: 1px solid $mainColor;
              transition: all 0.5s linear;
              font-family: "Montserrat", sans-serif;
              margin-bottom: 10px;
              &:hover {
                color: $textColor1;
                background-color: $mainColor;
              }
            }
          }
        }
        &:hover {
          h3,
          p {
            color: $textColor1;
          }
          .itemImg {
            i {
              z-index: 1;
            }
          }
        }
      }
    }
  }
  .teamItem3 {
    .herroBanner {
    h1{
      color: $textColor1;
      text-align: center;
      text-shadow: 2px 2px  $mainColor;
      font-weight: bold;
    }
      .swiper {
        width: 100%;
        padding: 50px 0;
        .swiper-slide {
          background-color: $lightCoral;
          background-position: center;
          background-size: cover;
          width: 300px;
          height: 430px;
          .slideImg {
            overflow: hidden;
            position: relative;
            transition: all 0.5s linear;
            img {
              display: block;
              width: 100%;
              height: 230px;
            }
            ul {
              width: 100%;
              position: absolute;
              @include display;
              justify-content: center;
              gap: 5px;
              background-color: #da863d80;
              transition: all 0.5s linear;
              opacity: 0;
              left: 0;
              bottom: -55px;
              padding-inline-start: 0;
              transform: translateY(0px);
              height: 15vh;
              li {
                a {
                  color: #e7710a;
                  font-size: 30px;
                  &:hover {
                    color: #2c5c2f;
                  }
                }
              }
            }
          }
          .slideNote {
            padding: 7px;
            text-align: center;
            color: $mainColor;
            h4 {
              color: $textColor1;
            }
          }
          &:hover {
            span {
              color: #ca5f01;
            }
            .slideImg {
              ul {
                opacity: 1;
                transform: translateY(-30px);
                z-index: 9;
              }
            }
          }
        }
      }
    }
  }
}
