#whywe {
  padding: 60px 0;
  .herroBanner {
    .note {
      text-align: center;
      color: $mainColor;
      margin-bottom: 40px;
      text-shadow: 2px 2px 3px $textColor1;
      p {
        font-size: 25px;
      }
    }
    .row {
      @include display;
      justify-content: center;
      gap: 10px;
      .col {
        background-color: $light;
        border-radius: 10px;
        padding: 10px;
        width: 350px;
        height: 30vh;
        .itemNote {
          display: flex;
          align-items: center;
          gap: 5px;
          color: $mainColor;
          i {
            padding: 5%;
            border-radius: 50%;
            border: 4px solid $lightBlue;
            width: 70px;
            height: 65px;
            color: $mainColor;
            background-color: $coral;
            font-size: 25px;
          }
        }
        p {
          color: $mainColor;
        }
      }
    }
  }
}
